[2015-05-29 16:14] batraabhishek opened #2 "HomeActivity.java line 58"
#### in org.buildmlearn.toolkit.activity.HomeActivity.onCreate

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/buildmlearn/android/apps/org.buildmlearn.toolkit/issues/5568906af505b5ccf0fa143a](https://fabric.io/buildmlearn/android/apps/org.buildmlearn.toolkit/issues/5568906af505b5ccf0fa143a)

[2015-05-29 16:15] #2 closed

[2015-12-18 12:25] vjs3 opened #4 "UX wise floating button is not needed on the HomeScreen"
UX wise the floating button is not a good choice for going to templates.As according to guidelines the plus shaped floating button is not needed to add something in general.I would like to shift functionality of that button to navigation drawer (means shifting option of template to drawer itself) and remove that from home screen.(Remaining application and other floating buttons will be at their sa

[2015-12-18 14:00] croozeus commented on #4
FAB is used for primary action on a screen - which in our case is the to create a new template. I would suggest keeping it the way it is and not moving it to the navigation drawer and hiding the primary action.

[2015-12-18 14:00] #4 closed

[2015-12-18 14:05] vjs3 commented on #4
As we are adding item to existing template not adding any template that's
why I suggested above thing. We are actually adding items inside template
not adding template itself so it would be good if we have FAB inside
template (which is already there).

Closed #4
<https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/issues/4>.

—
Reply to this email directly or view it on GitHub
<https://gith

[2015-12-18 14:12] batraabhishek commented on #4
Hey @vjs3, on clicking FAB we are creating a new project based on existing template. Thus as @croozeus said, FAB is acting as primary action similar to creating a new mail fab in gmail app, and upload fab on youtube app.

Also moving it to Navigation Drawer, will make it less accessible to user. the aim is to create new project in one click.

[2015-12-18 14:13] vjs3 commented on #4
Ok I got it.Thanks for your clarification :smile:

[2015-12-24 20:01] chhavip opened #5 "Saved Projects Screen Improvements"
In my opinion if there are no saved projects, a message should be displayed indicating the user does not have any saved projects yet, and if need be directed to creating a new project option.

[2015-12-25 20:06] ashishg656 opened #8 "App Crash When In the templateEditor for quiz, say you have 2 items."
App Crash When In the templateEditor for quiz, say you have 2 items..
Then long click item 2 (position 1).
After that expand item 2 by clicking on expand button in list item 2
After that click on delete and delete item 2.
Now click on the expand button for position 1 (position 2 has been removed now)
It will force close

Solution is here : (@6b5947d81200b9faffe4f959759fb4ce74f79b73)

[2016-01-02 17:40] #8 closed

[2016-01-05 22:11] yatna opened #9 "Delete Button not working in Add new item dialog box in Flash Template"
Whenever a card is long pressed for editing in Flash Template the following Dialog Box is opened.
However, the delete button here does not delete the card. It just closes the dialog box.
![screenshot_2016-01-06-03-31-43](https://cloud.githubusercontent.com/assets/8321130/12129033/1b0ec6f2-b427-11e5-8768-47c3a73102f8.png)

[2016-01-05 22:16] yatna opened #10 "Incorrect highlighting of options in Quiz Template."
If a question is there whose correct option in option 2 , then 2nd option is highlighted , however if the same question is edited and the correct option is changed to 3, then instead of highlighting 3rd option , both 2 and 3 are highlighted as shown below.
![screenshot_2016-01-06-03-16-55](https://cloud.githubusercontent.com/assets/8321130/12129198/033de61a-b428-11e5-9df2-a0834ad8eee9.png)

[2016-01-05 22:22] yatna opened #11 "Incorrect highlighting for subsequent questions in Quiz Template."
If a question has option 2 as the correct option then option 2 is highlighted .
![screenshot_2016-01-06-03-21-51](https://cloud.githubusercontent.com/assets/8321130/12129329/e1f406be-b428-11e5-8845-3da190d94378.png)
If the next question has option 3 as correct the along with 3rd the second option is also highlighted.

![screenshot_2016-01-06-03-21-59](https://cloud.githubusercontent.com/assets/832

[2016-01-07 20:09] yatna opened #12 "Hint not shown in Flash Template"
The user is prompted to enter a Answer Hint in adding a card in Flash Template.

![screenshot_2016-01-08-01-31-59](https://cloud.githubusercontent.com/assets/8321130/12181462/59dd7608-b5a8-11e5-8d05-5b8af0a70e25.png)

However while running the application in the emulator the hint is not shown anywhere to the user.Nor there is any option to view the Answer Hint.

[2016-01-07 20:13] yatna opened #13 "Initial text missing in showing Question in Flash Template ."
During running the application in the  emulator , the left part of the text entered in the question edittext is not shown. Eg if the user entered "Question", then in emulator the user sees it as "uestion".
![screenshot_2016-01-08-01-31-32](https://cloud.githubusercontent.com/assets/8321130/12181584/231fe762-b5a9-11e5-801a-6dc40a9a1696.png)

[2016-01-07 20:24] yatna opened #14 "Back button not working in Slider Menu."
If we are in an activity from the slider menu, say "Saved Projects".
![screenshot_2016-01-08-01-44-00](https://cloud.githubusercontent.com/assets/8321130/12181853/aaf9dfd4-b5aa-11e5-83a2-d1ccc09c2b47.png)

Then clicking on the back button at the bottom does not take back the user to the Home screen of the application, rather it closes the application (keeps it running in the background)

[2016-01-13 18:45] yatna opened #17 "Edit button on Flash Template creates new flash card instead of editing the prior one"
In the flash template if a card is selected for editing by clicking the edit button , a new screen is opened. Suppose in this new screen the question field is changed from "ques1" to "ques" and the ADD button is clicked. Then instead of changing in the same card a new card is created with the question field as "ques".
Initial card:
![screenshot_2016-01-13-23-40-15](https://cloud.githubusercontent.

[2016-01-13 19:01] batraabhishek commented on #17
+1 for reporting this :) @yatna

[2016-01-14 21:32] yatna opened #18 "Impossible to delete an existing project from the Saved Projects list."
The Saved Projects option on the slider menu gives a list of all the projects created in order of date of creation/modification. We can click on a project to edit it and then save it.
However a project cannot be deleted from the Saved Project list i.e. once a project is created it remains on the list forever and there is not an option for the user to delete outdated projects from the list.

[2016-01-17 07:36] debbarmaonit opened #19 "Applicationtest file ERROR"
The app is not showing the run button, showing errors in the ApplicationTest file.

[2016-01-21 20:51] vjs3 opened #20 "Delete functionality of cards not working"
On adding any card for the fisrt time in place of add if we delete that card than it is working but if we have added any card in any of template and then on selecting edit option we have option of add and delete, add is working but delete is not working.Card remain added at inside the template.

[2016-01-26 19:35] debbarmaonit commented on #14
Can I work on this issue, please? It will be somewhat easy for me.

[2016-01-26 19:36] debbarmaonit commented on #12
Can I work on this issue? Please.

[2016-01-29 11:40] kunall17 opened #22 "No Code for deleting Temp"
No Code for deleting Temporary Files!
Link: https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/blob/ab6caf5e6fc1e9f26c9fedf3cf4d7624e0284395/source-code/app/src/main/java/org/buildmlearn/toolkit/fragment/SettingsFragment.java#L23-L26

[2016-02-02 09:25] shreyas29 opened #23 "Menu shows Save Template option two times"
In every template, the menu shows "Save Template" option two times. It should show "Save Template" option only one time.

![screenshot_2016-02-02-14-46-27 1](https://cloud.githubusercontent.com/assets/16454030/12744839/7c96e166-c9bc-11e5-8515-e2c40167d129.png)

[2016-02-02 09:46] shreyas29 opened #24 "Simulate and Save Template options are added in menu list every time setting button is pressed"
When First time setting button is pressed.
![screenshot_2016-01-24-12-56-21 1](https://cloud.githubusercontent.com/assets/16454030/12745395/0299ff62-c9bf-11e5-8780-47e89bde19f4.png)

After setting button is pressed for the second time "Simulate" and "Save Template" options are added in the menu options.
![screenshot_2016-02-02-14-56-33 1](https://cloud.githubusercontent.com/assets/16454030/1274529

[2016-02-04 04:18] kunall17 commented on #22
Fixed here 10a04b4

[2016-02-10 11:46] shreyas29 opened #27 "Edit option in Flash Template creates new question"
Let's say I have added a question in Flash Template as follows:

![screenshot_2016-02-08-17-35-37 1](https://cloud.githubusercontent.com/assets/16454030/12945907/a42f7552-d016-11e5-9f5e-e0bb7e12954b.png)

Now I want to modify the answer from "ans" to "ans_modified". Instead of making changes in the same question, a new question is created.

![screenshot_2016-02-08-17-36-13 1](https://cloud.githubu

[2016-02-19 13:36] opticod opened #32 "Runtime Permission Missing"
For Android 6.0 (API level 23) and above , users grant permissions to apps while the app is running, not when they install the app.  For this reason when we try to save or share apk in Android 6 Devices ,

- the dialog box keep on showing and it doesn't succeed in creating apk.

- No Proper debug message is provided to users

 if we check Log then it will have one `FileNotFoundException open faile

[2016-02-20 14:22] kunall17 opened #34 "Improvement: Added AutoSave Feature"
Autosave feature to save the newly added items to any project.
In default this feature is enabled, In settings we can disable this feature!

![autosave](https://cloud.githubusercontent.com/assets/12700799/13197162/55aef16c-d80b-11e5-8ffb-5ce473a5b176.gif)

[2016-02-23 16:18] scopeInfinity opened #35 "Multiline Template Name"
![12516730_954104807959799_40966723_o](https://cloud.githubusercontent.com/assets/9819066/13257938/fa26ff6a-da76-11e5-99ec-b5a2d0eafff2.jpg)

![12751885_954104731293140_240845589_o](https://cloud.githubusercontent.com/assets/9819066/13257943/ff6b3e78-da76-11e5-8049-b10d755f13ab.jpg)

[2016-02-23 22:30] scopeInfinity opened #37 "Edit Button of Basic mLearning/Learn Spelling Template showing New Item Dialog"
Inconsistent code written again in Adapter class of both templates.

On clicking like
![12765807_954248627945417_1491878079_o](https://cloud.githubusercontent.com/assets/9819066/13269222/a10cc910-daac-11e5-910e-850a4bd39c9a.jpg)

This opens up
![12755201_954248797945400_556765730_o](https://cloud.githubusercontent.com/assets/9819066/13269227/a8c7b0fc-daac-11e5-91d3-eb6bccfbbfb9.jpg)

[2016-02-23 22:59] opticod opened #39 "App on Orientation Change"
If we rotate our app

- in TemplateEditor : we loose the template name and we have re-write

- and during generating of APK :  it abruptly stops creating the APK without showing any information and doesn't succeed.

[2016-02-23 23:18] opticod opened #41 "Adding personalized Keyboard feature"
Currently we have to press back button to hide the soft keyboard,this may be lengthy for users. If we add the feature of hiding the keyboard even when the user clicks away from an input field or tried to scroll ,then it will be more user friendly. Thus increasing usability .

[2016-02-24 13:26] scopeInfinity opened #43 "Invalid TemplateName CRASH Application and DELETE project"
Giving Some of Characters like '/' in Template Name Crash Application on Build APK, and Delete the Saved Project on Clicking 'Save Project'.

![aqua_power_hd_2016-02-24-18-07-45](https://cloud.githubusercontent.com/assets/9819066/13286561/3a904352-db28-11e5-922b-b49075e1bb37.png)

![aqua_power_hd_2016-02-24-18-08-00](https://cloud.githubusercontent.com/assets/9819066/13286562/3d3980a0-db28-11e5-90

[2016-02-25 14:48] opticod opened #45 "Empty View not working properly"
When we add any Item and then delete it causing it empty list ,then  it doesn't show default empty view text `Click Add button to start adding items`.

![screenshot from 2016-02-25 20-21-00](https://cloud.githubusercontent.com/assets/13851773/13322965/433648b4-dbfd-11e5-8e55-498befe96c11.png)

[2016-02-26 12:30] debbarmaonit commented on #41
Can someone please assign me to this issue? I would like to work on this.

[2016-02-26 12:32] opticod commented on #41
@debbarmaonit , I have already  made a PR for the same.

[2016-02-26 13:21] debbarmaonit commented on #41
The issue is OPEN that's why I asked.

[2016-02-26 19:08] nehaPolo opened #47 "Import Gradle Issue"
When i import the project in Android Studio, Gradle Migration Issue pops up, and all the files are not showing in the Android View. What should I do?

[2016-02-27 14:22] opticod opened #48 "Deleting Feature of Saved Project Missing"
Currently we have no option available to delete a saved Project.

[2016-02-27 16:55] nehaPolo commented on #48
Hey, @opticod How to import the android project in android studio?

[2016-02-27 16:56] nehaPolo commented on #48
it is not getting imported by simply using the import project option

[2016-02-27 19:19] opticod commented on #48
Hi @nehaPolo , make sure you import or open the `source-code` folder. and after that you have to fix plugin version and sync the project .

Make this changes to build.gradle
[code]

Hope this helps.

[2016-02-27 20:35] opticod opened #50 "Pending Intent Missing for Notifications"
On Clicking the notifications, nothing happens. If we add the feature to open the apk file just created, by clicking the notification, then it will be easier to view the apk.

[2016-02-28 05:30] shreyas29 commented on #47
@nehapolo can you please put screenshot of the issue you are facing?

[2016-02-28 05:44] scopeInfinity opened #52 "Reordering of Question in Template Editor"

[2016-02-28 06:08] croozeus commented on #52
@scopeInfinity Please provide a detailed description of the issue raised. Else we will close this in due time.

[2016-02-28 06:11] croozeus commented on #50
@opticod I have create a branch for bug-fixes. Can you submit all your fixes to bug-fixes branch?

I can then evaluate and merge them.

[2016-02-28 06:15] croozeus opened #53 "Setting up an automated Build System for this project"
It would be great if we could have a freely available, automated build system that compiles an APK for the project (bug-fixes branch) on each commit and makes it available for download.

The reason for triggering the compilation on each commit is to know if any pull request that was merged caused a problem.

[2016-02-28 06:21] croozeus opened #54 "Change the version of the toolkit to 2.0.0"
Let's set a future version number for next release. Plus having a different version in the bug-fixes branch will let us identify actual Crashlytics crash reports. For now all the crashes are tagged as version 1.0.1.

[2016-02-28 06:57] scopeInfinity commented on #52
This is ordering of my Item in List.
    First Q2 then Q1 and I want to move Q1 upward. i.e. First Q1 the Q2

![aqua_power_hd_2016-02-28-12-24-45](https://cloud.githubusercontent.com/assets/9819066/13377925/5e48efd8-de16-11e5-80f2-fa9b1afb64aa.png)

[2016-02-28 07:03] croozeus commented on #52
Thanks for adding the details. I don't think this is required. The newly added item should be visible readily and hence added on the top.

[2016-02-28 07:03] #52 closed

[2016-02-28 07:05] scopeInfinity commented on #52
OK

[2016-02-28 07:08] scopeInfinity commented on #52
Will it be better in Quiz Template. Since during some quiz ordering of question matters.
Let's say, Answer of third Question depends on Problem solved during Second Question.

[2016-02-28 08:11] opticod commented on #50
@croozeus Yea , sure. Please see my new PRs to bug-fixes branch .

[2016-02-28 08:36] croozeus commented on #50
Thanks, I merged a few today. Some of them require testing and they will be merged when someone tests them.

It would be great if you could work on some prioritized issues, for example #53  is something I am looking to have a solution for.

[2016-02-28 08:47] croozeus commented on #37
Please clarify what is being fixed here. What do you mean by "Inconsistent code written again in Adapter class of both templates."

[2016-02-28 10:29] scopeInfinity commented on #37
In  _source-code/app/src/main/java/org/buildmlearn/toolkit/templates/LearnSpellingAdapter.java_
The Dialog Box Code for Edit Button

First, for on pressing Edit Button on left side : Dialoge with message Add/Delete pop up. Which is Already Fixed here #30 for _source-code/app/src/main/java/org/buildmlearn/toolkit/templates/LearnSpellingTemplate.java_
But still, We are having Add/Delete Dialogue Cod

[2016-02-28 10:46] opticod commented on #53
@croozeus , This is really a nice idea.
We can use the Travis CI - Open Source Edition ( Free ) for compiling the builds for every PR.

[2016-02-28 11:03] scopeInfinity opened #67 "Incorrect Highlighting in Quiz Template"
This Issue was already created,  but now it seems to be deleted.

[2016-02-28 11:11] scopeInfinity commented on #67
![aqua_power_hd_2016-02-28-16-37-15](https://cloud.githubusercontent.com/assets/9819066/13378859/03ec2400-de3a-11e5-9f3b-85cf92fc603c.png)

[2016-02-28 11:14] croozeus commented on #67
Thanks for adding the issue. Kindly check if the issue exists in bug-fixes branch.

[2016-02-28 11:17] scopeInfinity commented on #67
I recently pull bug-fixes. This bug exists there.

[2016-02-28 13:22] scopeInfinity opened #70 "Two Items Selected in Navigation Drawer"
Bug only for front-end.

To replicate bug

It auto-selects `Home` without resetting previous Selection.

![aqua_power_hd_2016-02-28-18-12-00](https://cloud.githubusercontent.com/assets/9819066/13379442/eb590478-de4b-11e5-9cdf-1c19f8881902.png)

[2016-02-28 15:20] opticod commented on #53
@croozeus , Have successfully deployed automated build system that compiles the APK whenever any PR occurs or commit is added in my forked repo.:
Please see it in Readme areas of : https://github.com/opticod/BuildmLearn-Toolkit-Android
Build report at : https://travis-ci.org/opticod/BuildmLearn-Toolkit-Android
Details for PRs will come like this example :
![screenshot from 2016-02-28 20-47-14](htt

[2016-02-28 17:56] scopeInfinity opened #75 "Live Change of Username"
Let's say I change username from Settings.
It won't get updated on View until I open Settings again.
It won't get updated on TextView in Navigation Drawer until I restart app again.
![screenshot from 2016-02-28 23 13 17](https://cloud.githubusercontent.com/assets/9819066/13380846/7c510ec8-de72-11e5-9865-1fb0d9186268.png)

[2016-02-28 19:21] opticod opened #77 "Multiple instances of How to created"
While viewing `How to` section.

It will open `How to` section one more time.
 If you keep rotating once followed by swiping then you will be trapped in an infinite loop.

[2016-02-29 14:03] scopeInfinity opened #80 "IntentFilter Not Working for *.buildmlearn files"
Unable to auto launch DeepLinkerActivity on clicking project file from file explorer.

[2016-02-29 16:35] scopeInfinity opened #83 "Share Project Feature"
We currently have `Share APK` option but no option for Sharing Project i.e. project-name.buildmlearn file sharing. It can be common case when multiple users are adding items in template editor one-by-one.

[2016-02-29 17:17] opticod opened #85 "Operations with Saved APKs"
As we have `Saved Projects` link in Drawer where we can see different saved projects, and we can perform various operations. What about introducing it for build APKs also? As currently we can't make track of it.
By adding the feature , we can see build APKs, install them from there, delete and share them , thus increasing usability for users.

[2016-02-29 20:34] #19 closed

[2016-03-01 05:12] scopeInfinity opened #87 "Bug in Simulator Learn Spelling Result"
Data of previous current test on simulator is not reset  by clicking on `Exit` on Back Press.
Thus giving wrong results.

![Screenshot](https://cloud.githubusercontent.com/assets/9819066/13418305/26db4a8e-df9a-11e5-86d6-973d9631ecf7.png)

[2016-03-01 23:06] scopeInfinity opened #89 "Search Feature Missing"
No search option available in Template Editor Activity for filtration of list.

[2016-03-02 13:32] scopeInfinity opened #93 "Spelling Simulator Speech Rate Bug"
Moving Seek bar to leftmost position makes no change in speech rate.

Try Moving seek-bar to fastest speech rate(Rightmost position) then move it to left-most then notice that there is actually no speech rate difference.

[2016-03-02 15:01] naveenshukla opened #96 "Cant load project on android studio"
While loading project on my pc in android studio. I am getting following error :
"Gradle Project refresh failed
Error : connection refused"

[2016-03-02 15:12] mayank-kgp commented on #96
Hi....
Are you working on proxy?
On Mar 2, 2016 8:31 PM, "Naveen Kumar Shukla" <notifications@github.com>
wrote:

[2016-03-02 15:22] shuklank commented on #96
Yeah I am working on proxy  and I am adding proxy too to gradle.properties but still I am getting this problem

[2016-03-02 17:05] scopeInfinity opened #97 "Special Template Name generating apk with Unexpected Name"
Giving `.*buildmlearn.*` type of Template name will generate apk by replacing `buildmlearn` with `apk` text.

![aqua_power_hd_2016-03-02-22-31-40](https://cloud.githubusercontent.com/assets/9819066/13468072/0519bc0e-e0c7-11e5-9771-73a1c4c13013.png)

[2016-03-03 01:01] prasang7 commented on #96
Do you have '_ExernalSystemException_' in event log, where is says unable to save?

[2016-03-04 16:47] thegenuinegourav opened #101 "Giving Wrong Spelling"
Example: Writing Apple with autocorrect options gives wrong spelling in spelling template!
Screenshots from the app can explain this situation
![screenshot_2016-03-04-21-29-43](https://cloud.githubusercontent.com/assets/16540657/13533467/97ec182a-e256-11e5-8c61-b25f3b4fcee7.png)
![screenshot_2016-03-04-21-30-03](https://cloud.githubusercontent.com/assets/16540657/13533473/9d567c24-e256-11e5-979b-2

[2016-03-06 14:08] Dvik opened #104 "Error in info_template_detail.xml"
The error reads: Error:(18, 26) No resource found that matches the given name (at 'src' with value '@drawable/abc_ic_ab_back_mtrl_am_alpha').
It may occur due to old build tool version as is discussed [here](https://github.com/afollestad/material-dialogs/issues/964).

[2016-03-07 10:21] championswimmer commented on #96
Possibly due to this
https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/issues/104

[2016-03-07 11:02] championswimmer commented on #101
Still having this issue with the first word

[2016-03-07 11:03] championswimmer opened #107 "Spelling: have option to see correct spelling at end"
The student/user should have the option to see the correct answers at the end of the flow.

[2016-03-08 21:30] shuklank commented on #96
Yes @championswimmer

[2016-03-09 20:02] shuklank opened #110 "Menuinflator list increases with each time selecting menu option"
![screenshot_2016-03-10-01-19-24 1](https://cloud.githubusercontent.com/assets/14854536/13648635/ab97bd22-e65f-11e5-8f7f-a260ff8d7968.png)

[2016-03-09 20:07] shuklank commented on #110
In TemplateEditor.java
 `public boolean onPrepareOptionsMenu(Menu menu) {
        Log.d(TAG, "onPrepareOptionsMenu");
        if (showTemplateSelectedMenu) {
            getMenuInflater().inflate(R.menu.menu_template_item_selected, menu);
        } else {
            getMenuInflater().inflate(R.menu.menu_template_editor, menu);
        }
        return true;
    }`
onPrepareOptionsMenu is called e

[2016-03-10 06:21] shreyas29 commented on #110
This issue is already mentioned #23.

[2016-03-10 08:25] #110 closed

[2016-03-10 15:14] scopeInfinity opened #113 "Missing "My Drafts""

[2016-03-10 15:35] scopeInfinity commented on #113
Segment related with _My Drafts_ : [code](https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/blob/master/source-code/app/src/main/java/org/buildmlearn/toolkit/model/Section.java#L25)

[2016-03-10 17:42] scopeInfinity opened #115 "Bug : Creating Duplicate Projects"
Demonstration
![GIF](https://cloud.githubusercontent.com/assets/9819066/13678541/44f131c8-e715-11e5-8986-93cdf18d20ee.gif)

[2016-03-11 07:56] gourav96suri commented on #101
Can you elaborate first word issue

[2016-03-14 16:56] NezSpencer opened #119 "Missing drawable resource file"
I just cloned this project today and on building, I got this error:

![screenshot from 2016-03-14 17 50 33](https://cloud.githubusercontent.com/assets/11639214/13752143/a2612b92-ea0d-11e5-8d57-7cfd8956549d.png)

I opened the layout file and removed the line where this drawable resource was referenced, then it built successfully. I think the person that added this resource forgot to add it to git

[2016-03-15 22:22] kundanSingh11 opened #121 "App crashes on decreasing word"
if we run the simulator with more then one word for the first time its runs good and for the second run if we remove a word from the list the app crashes when clicked on listen

[2016-03-16 08:29] scopeInfinity commented on #121
This can be resolved by #88
Thanks!

[2016-03-17 14:51] opticod opened #122 "Author Name"
We could allow the users to enter numeric or special characters in `Author Name` .

Please see this article :
http://ux.stackexchange.com/questions/61908/should-we-allow-special-characters-or-numbers-in-name-field
http://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/

[2016-03-17 18:29] opticod opened #125 "UI BUG"
The right way is to deselect that item.
i.e. if any item is selected then it should deselect it,else it will perform the usual normal functionality.

[2016-03-18 06:29] thegenuinegourav opened #128 "Bug in Speech Rate of Spelling Template Simulator"
![screenshot_2016-03-18-11-56-58](https://cloud.githubusercontent.com/assets/16540657/13870046/e0fb521a-ed00-11e5-97e1-f5d7d265c8b6.png)
![screenshot_2016-03-18-11-57-05](https://cloud.githubusercontent.com/assets/16540657/13870051/e9f2b7dc-ed00-11e5-8202-b9d5fe15ae7a.png)

In both case, Speech Rate is same

[2016-03-18 07:12] scopeInfinity commented on #128
Check Issue #93

[2016-03-18 07:55] thegenuinegourav opened #130 "Bug in OverFlow Menu of each template"
On each click, options in overflow menu increase

![screenshot_2016-03-17-17-12-51](https://cloud.githubusercontent.com/assets/16540657/13871080/9c365560-ed07-11e5-8903-d094224b787d.png)

![screenshot_2016-03-17-17-13-00](https://cloud.githubusercontent.com/assets/16540657/13871087/a35dea38-ed07-11e5-8195-61f5b308b241.png)

![screenshot_2016-03-17-17-13-07](https://cloud.githubusercontent.com/asse

[2016-03-18 09:34] shreyas29 commented on #130
Check Issue #24

[2016-03-18 14:23] scopeInfinity commented on #130
@gourav96suri This issue is fixed and already merged in `bug-fixes` branch. I would suggest to checkout fo `bug-fixes` branch. It's currently 12 commits ahead of master

[2016-03-18 16:57] championswimmer commented on #101
@gourav96suri
In an app I build, the very first word always is wrong. The 2nd and onwards work correctly

[2016-03-18 19:05] gourav96suri commented on #130
OK Thnks man for such a nice advice! @scopeInfinity

[2016-03-22 04:27] parthuest commented on #107
at the end of each spelling they are showing correct answers

[2016-03-22 04:35] parthuest commented on #101
in my phone I cant see the spell suggestions while I enter spelling

[2016-03-22 04:42] gourav96suri commented on #101
Doesn't your android phone provides autocorrect option?

[2016-03-22 04:45] parthuest commented on #101
it obviously provides auto-correct options in all other apps..but not in simulator of buildmlearn

[2016-03-22 04:50] gourav96suri commented on #101
![screenshot_2016-03-22-10-17-33](https://cloud.githubusercontent.com/assets/16540657/13942347/7fe3c1e6-f017-11e5-993e-ec8a0099f82f.png)
It is providing in my phone!
By the way, Which branch are you using: master or bug fixes or default playstore app??

[2016-03-22 05:11] parthuest commented on #101
master

[2016-03-22 05:11] parthuest commented on #101
should I use bug fixes?

[2016-03-22 05:14] parthuest commented on #101
https://plus.google.com/u/0/photos/albums/pa2cmjqhperjbur9aeek5ft3n75aa4q67?pid=6264740715104419906&oid=112530882331276428914

[2016-03-22 05:17] parthuest commented on #101
![2016-03-21](https://cloud.githubusercontent.com/assets/17997228/13942718/77f6fc10-f01b-11e5-964e-125a01e31f1b.png)

[2016-03-22 09:00] scopeInfinity commented on #101
@parthuest `bug-fixes` branch is current ahead of `master`
And for _Words Suggestions_ , suggestions are actually meant to hidden and are not visible even in my phone.
@gourav96suri Can you check why suggestions are visible in your phone or how are you planning to fix it.

[2016-03-25 16:49] gourav96suri commented on #101
@scopeInfinity I have fixed the problem in my new branch!
Link to that :+1:
https://github.com/gourav96suri/BuildmLearn-Toolkit-Android/commit/e65b0f02c80602cc3ed3d3fb9e04651894c38da4

[2016-03-25 18:26] scopeInfinity commented on #101
@gourav96suri It seems you are using trim for the fix.

Is _Words Suggestions_ still showing in your phone?

[2016-03-25 18:39] gourav96suri commented on #101
Yess it is!!

[2016-03-25 19:03] scopeInfinity commented on #101
@gourav96suri Any idea for the cause of this problem?
I guess this issue can be fixed using _trim_ as you have implemented, and this new problem is likely to come under a new issue.

[2016-03-25 23:50] opticod commented on #101
I tried duplicating the situation in different API real-devices, but was unable to duplicate the ```word suggestions```.
I even checked the code, it seems fine to me.

Probable cause:
```android:inputType``` is found not to work normally in HTC Desire 2.2 . There may be few more unknown devices.

Can you share your testing SDK version and device model?

[2016-03-26 12:23] gourav96suri commented on #101
@opticod
SDK Version :23
Device : Samsung Note3 Neo, Samsung Grand Quatro (Both gives the word suggestion!
This problem is solved using trim() method! See the link above that I have shared

[2016-04-07 09:07] opticod opened #138 "Intent Filter for App Settings is missing"
There are no App's Settings link present in Android Settings Menu.
![screenshot_20160407-143538](https://cloud.githubusercontent.com/assets/13851773/14346067/23198df6-fcce-11e5-812e-0fae0f3a8288.png)

[2016-04-09 17:57] scopeInfinity opened #140 "Bug : Project Selection"
![Project Selection Bug](https://cloud.githubusercontent.com/assets/9819066/14405346/7d22dbb2-feaa-11e5-94c5-be2010a750a8.gif)

[2016-04-10 10:07] scopeInfinity opened #142 "Multiple Selection Implementation in Saved Project"
Multiple Selection can be for cleaning all projects, except few live projects.

![Multiple Selection](https://cloud.githubusercontent.com/assets/9819066/14409484/0c2a0ea2-ff32-11e5-80e4-1603b01d1e91.gif)

[2016-04-10 19:59] opticod opened #144 "Support for Native RTL is missing"
There is no support for right-to-left (RTL) scripts (such as Arabic, Hebrew, or Persian). This is a vital localization issues. We must include RTL support as our apps will be used wild-wide.

Also made the issue in BuildmLearn/Toolkit-mobile-templates#35

[2016-06-29 13:01] #39 closed

[2016-06-30 17:20] opticod commented on #70
Merged #71 . Thanks.

[2016-06-30 17:20] #70 closed

[2016-06-30 18:39] opticod commented on #75
closed via Merged #76

[2016-06-30 18:39] #75 closed

[2016-06-30 18:40] #77 closed

[2016-06-30 18:41] opticod commented on #80
closed via #82

[2016-06-30 18:41] #80 closed

[2016-06-30 18:52] #138 closed

[2016-06-30 19:06] opticod commented on #5
@chhavip you can proceed. :+1:

[2016-06-30 19:07] opticod commented on #9
Fixed by #30, Thanks @yatna @shreyas29

[2016-06-30 19:07] #9 closed

[2016-06-30 19:08] opticod commented on #10
Fixed by #149

[2016-06-30 19:08] #10 closed

[2016-06-30 19:10] #32 closed

[2016-06-30 19:12] #144 closed

[2016-06-30 19:14] opticod commented on #47
Fixed

[2016-06-30 19:14] #47 closed

[2016-06-30 19:15] opticod commented on #104
Fixed

[2016-06-30 19:15] #104 closed

[2016-06-30 19:16] #122 closed

[2016-06-30 19:17] opticod commented on #96
Fixed

[2016-06-30 19:17] #96 closed

[2016-06-30 19:18] opticod commented on #53
Added. Closing for now.

[2016-06-30 19:18] #53 closed

[2016-06-30 19:18] #50 closed

[2016-06-30 19:19] opticod commented on #45
Fixed

[2016-06-30 19:19] #45 closed

[2016-06-30 19:20] #48 closed

[2016-06-30 19:20] #41 closed

[2016-06-30 19:21] #18 closed

[2016-06-30 19:21] opticod commented on #18
Added

[2016-07-02 16:55] opticod commented on #83
It will be convenient and best to have that option in "Saved Projects" fragment.

[2016-07-02 19:08] opticod commented on #12
Merged through #21

[2016-07-02 19:08] #12 closed

[2016-07-02 19:33] opticod commented on #87
closed via #88

[2016-07-02 19:33] #87 closed

[2016-07-02 19:36] opticod commented on #89
Not a priority feature. Closing for now.

[2016-07-02 19:36] #89 closed

[2016-07-02 19:56] opticod commented on #97
closed via #98

[2016-07-02 19:56] #97 closed

[2016-07-02 20:22] opticod commented on #24
Closed via 9b14e69

[2016-07-02 20:22] #24 closed

[2016-07-03 09:15] opticod commented on #113
closed via #114

[2016-07-03 09:15] #113 closed

[2016-07-03 12:08] opticod commented on #115
Fixed

[2016-07-03 12:08] #115 closed

[2016-07-03 13:16] opticod commented on #101
Closed via  1f80476

[2016-07-03 13:16] #101 closed

[2016-07-03 13:27] opticod commented on #23
Closed via 9b14e69

[2016-07-03 13:27] #23 closed

[2016-07-03 14:09] opticod commented on #140
Merged via 94d8025d54eaa23a44bcd11a7482c26b633e13d0

[2016-07-03 14:09] #140 closed

[2016-07-03 14:44] opticod commented on #14
@debbarmaonit you can proceed as #74 doesn't meet the goal probably. Fix only one issue in a single PR.

[2016-07-03 15:01] opticod commented on #17
Fixed via 	ed6c9da

[2016-07-03 15:01] #17 closed

[2016-07-03 15:02] opticod commented on #20
Closed via #30

[2016-07-03 15:02] #20 closed

[2016-07-03 15:02] opticod commented on #22
Closed via #72

[2016-07-03 15:02] #22 closed

[2016-07-03 15:02] opticod commented on #27
Closed via 	f63c511

[2016-07-03 15:02] #27 closed

[2016-07-03 15:03] opticod commented on #34
Draft Feature Added

[2016-07-03 15:03] #34 closed

[2016-07-03 15:08] opticod commented on #43
Added

[2016-07-03 15:08] #43 closed

[2016-07-03 15:10] opticod commented on #67
I checked, its fixed. Closing this Issue.

[2016-07-03 15:10] #67 closed

[2016-07-03 15:11] opticod commented on #85
Added via via 82c10b0

[2016-07-03 15:11] #85 closed

[2016-07-03 15:11] opticod commented on #93
Added via 	7eca22f

[2016-07-03 15:11] #93 closed

[2016-07-03 15:15] #130 closed

[2016-07-03 15:16] opticod commented on #128
Added via 7eca22f

[2016-07-03 15:16] #128 closed

[2016-07-03 15:16] opticod commented on #121
Merged #88

[2016-07-03 15:16] #121 closed

[2016-07-03 15:17] opticod commented on #119
Fixed

[2016-07-03 15:17] #119 closed

[2016-07-11 16:49] opticod opened #150 "Wrong template Id is retrieved after loading a project."
If an user loads a project from saved Project fragment, then the template Id is wrongly set to only `0` and the APK created doesn't work due to for all templates except infoTemplate.

It has been introduced after recent merging of #118.

[2016-08-14 10:43] opticod commented on #13
Fixed in current build

[2016-08-14 10:43] #13 closed

[2016-08-15 07:53] opticod commented on #107
Added in new build.

[2016-08-15 07:53] #107 closed

[2016-08-15 07:54] #37 closed

[2016-08-19 20:03] opticod commented on #83
Modified the last code to make share feature available both at ```template editor``` and ```load project fragment```

[2016-08-22 20:43] #150 closed

[2016-08-22 20:43] #14 closed

[2016-08-22 20:45] opticod commented on #83
Fixed

[2016-08-22 20:45] #83 closed

[2016-08-22 20:45] opticod commented on #54
Fixed via 	4a001b2

[2016-08-22 20:45] #54 closed

[2016-08-22 20:45] opticod commented on #35
Fixed

[2016-08-22 20:45] #35 closed

[2016-09-03 19:02] opticod opened #157 "Fixing codacy issues"
Need to fix some of these codacy [issues](https://www.codacy.com/app/anupam/BuildmLearn-Toolkit-Android/issues).

[2016-09-24 09:45] opticod commented on #157
fixed via #158.

[2016-09-24 09:45] #157 closed

[2016-09-24 11:21] opticod opened #159 "Adding a preview link of App"
It will be great to have a preview link of the app, so that others can explore the app easily without downloading and installing.

We can have appetize.io for now.

[2016-09-24 11:35] opticod commented on #159
Added via #160

[2016-09-24 11:35] #159 closed

[2016-10-06 17:02] iit2014086 commented on #142
is anyone working on this?

[2016-10-09 09:09] opticod commented on #142
Closed via #163

[2016-10-09 09:09] #142 closed

[2016-10-11 18:49] opticod opened #165 "Replacing existing afollestad's dialogs with dialogs from android support library"
This will reduce the apk size and dependencies on a third-party libraries.

Need to replace these : In  `build.gradle (Module:app)`
`compile('com.github.afollestad.material-dialogs:core:0.8.5.3@aar') {
        transitive = true
    }
    compile('com.github.afollestad.material-dialogs:commons:0.8.5.3@aar') {
        transitive = true
    }`

Help: https://developer.android.com/guide/topics/ui/dial

[2016-10-17 12:37] ishaan1995 commented on #165
Hey , I would really live to work on this enhancement.I am still not sure that would I be able to implement the change as per your coding guidelines and architecture.So could you guide me a little about that?
Thanks
Ishaan

[2016-10-18 11:44] opticod commented on #165
Here is one example :

https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/blob/master/source-code/app/src/main/java/org/buildmlearn/toolkit/templates/InfoTemplate.java#L110-L138

We need to replace this with native dialogs fragments i.e. without using MaterialDialog classes from  ```com.github.afollestad.material-dialogs:core:0.8.5.3@aar```
Here are some nice tutorials:
- https://guides.co

[2016-10-20 22:41] octacode commented on #5
Hey! I have made a PR regarding this issue. Please have a look at it. :)

[2016-10-21 19:58] opticod opened #169 "Supporting Different Languages"
As our app will be used by users all over the world, its a plus point to have different localisation support. Presently we have only English support. It would be great to have many more.

- [ ] Chinese
- [ ] Spanish
- [ ] Hindi
- [ ] Arabic + adding missing RTL supports( if any)
- [ ] Bengali
- [ ] Russian
- [ ] Japanese

Similar issue for templates:

[2016-10-21 22:43] octacode opened #171 "Share Feature on the DraftFragment not working."
Here's a link to the video depicting the error.
[https://youtu.be/MeTELpfsPBo](https://youtu.be/MeTELpfsPBo)

[2016-10-22 08:41] octacode commented on #171
The link is not working directly. You can copy and paste the URL on the address bar. It will work then.
Thanks

[2016-10-22 10:28] opticod commented on #171
You can proceed to fix it.

And the syntax of markdown links are like:  [Video/Image/WebSite](https://youtu.be/MeTELpfsPBo)

[2016-10-22 10:54] octacode commented on #171
Great! I am on it.

[2016-10-22 13:04] ishaan1995 commented on #165
Hey I have created a pull request with the above changes as asked.
https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/pull/174

[2016-10-22 16:03] octacode opened #175 "Issues with Restore Project feature in Settings fragment."
[https://m.youtube.com/watch?v=3APV-BkYS9c](https://m.youtube.com/watch?v=3APV-BkYS9c)

App crashes when any directory other than apk made by Toolkit is restored from the Settings fragment.

I have embedded a video depicting the same.

Thanks

[2016-10-23 07:37] chiragw15 commented on #169
@opticod Can I help with hindi language?

[2016-10-23 07:48] opticod commented on #169
Sure, go ahead. 👍

[2016-10-23 08:20] opticod commented on #171
We can remove the share button from it.

[2016-10-23 08:24] octacode commented on #171
Okay! Should I proceed to do the changes??...Thanks

[2016-10-23 08:24] opticod commented on #171
yes, you can. 👍

[2016-10-23 08:29] opticod commented on #175
I was not able to duplicate the issue in my device. Can you please provide the debug log messages. And if it exists, you can proceed to fix it.

[2016-10-23 11:26] opticod opened #176 "Making delete operation asynchronous"
If, the size of temporary files are large then `Delete Temporary Files` operation in `Settings Fragment` may block the UI thread. So to avoid this, we can place the operation in `AsynTask`.

[2016-10-23 19:48] octacode commented on #175
[https://gist.github.com/octacode/26259f63fe47cb322571b749984f62e2](https://gist.github.com/octacode/26259f63fe47cb322571b749984f62e2)
Here's the gist snippet of the log.

[2016-10-24 07:35] smart-sachin commented on #176
@opticod Hey, I will like to work on this if anybody's not working.Thanks.

[2016-10-24 10:22] opticod commented on #176
you can proceed, @codingblazer

[2016-10-24 15:55] octacode commented on #176
@opticod
Hey!
I have made a PR #178 regarding this issue. Please have a look at it.
Thanks.

[2016-10-24 16:04] codingblazer commented on #176
@octacode Hey, Please inform before taking any issue. It save others time who have already started working.

[2016-10-25 11:03] chiragw15 opened #180 "Pressing back button should open home fragment"
Right now, when we press back button, we go to the last fragment opened. So, suppose if someone has opened a fragment 7 times , he has to press back button 7 times to go back to the home fragment. It will be better if we just press back button only once to go to the home fragment.

[2016-10-25 11:19] croozeus commented on #176
Guys, please assign the issue to yourself before working on an issue. So that others can know.

[2016-10-25 11:21] octacode commented on #176
I will make sure of it next time.

[2016-10-25 11:46] octacode opened #181 "Reducing the dependencies on third-party libraries"
We can replace these dependencies
In:`build.gradle (Module:app)`

`compile 'com.daimajia.easing:library:1.0.1@aar'`
 `compile 'com.daimajia.androidanimations:library:1.1.3@aar'`
with default Android animations. This will reduce the apk size too.

If you find this issue relevant enough. Can I proceed to fix it.
@croozeus
@opticod

[2016-10-25 17:37] opticod commented on #181
yes u can proceed :+1: @octacode

[2016-10-25 17:38] opticod commented on #180
Will I assign you?

[2016-10-25 17:40] octacode commented on #181
Great! I am on it.

[2016-10-25 18:12] octacode commented on #171
Okay! Can I proceed to do so? Thanks

On Oct 23, 2016 1:50 PM, "Anupam Das" <notifications@github.com> wrote:

[2016-10-26 13:31] chiragw15 commented on #180
@opticod  yes sure :)

[2016-10-26 13:32] octacode commented on #175
Hey! @opticod I have made a PR regarding this issue. Please have a look at it.

[2016-10-26 13:33] opticod commented on #175
Thanks @octacode , we will be merging the PRs after reviewing shortly.

[2016-10-26 20:29] opticod commented on #181
Merged via #185

[2016-10-26 20:29] #181 closed

[2016-10-26 20:39] opticod opened #188 "Supporting TTS in Local Languages + Project Name flexibility"
1. TTS not working for Hindi as mentioned in #179
2. Flexibility of `Project Name` and`Author Name` in local languages.

[2016-10-26 21:06] opticod commented on #171
Closed via #183

[2016-10-26 21:06] #171 closed

[2016-10-27 16:38] codingblazer commented on #169
Hey @opticod ,Can I work on Bengali Language? Please assign me if it's fine.

[2016-10-27 16:40] opticod commented on #169
@codingblazer , ok u can proceed. 👍

[2016-10-27 20:33] octacode commented on #188
@opticod
Hey! I would like to work on this issue.
Thanks

[2016-10-28 17:44] codingblazer opened #189 "Material Design Issue"
1. While navigating in navigation bar ,Toolbar title remains same as application name but it should be the name of fragment we are in. ( however it changes for "About BuildmLearn" section/activity)
2. Keylines are not followed as per Material Design specs as shown below.

![Expected](https://cloud.githubusercontent.com/assets/13872065/19815595/3ef9cfc0-9d61-11e6-8e22-f98814882e47.png)

![Actual](h

[2016-10-29 08:35] chiragw15 commented on #189
@codingblazer actually while solving issue #180, I realized this issue and solved it too. I'll soon be sending a PR for this. Sorry for trouble.

[2016-10-29 09:41] chiragw15 opened #190 "Replacing complex navigation drawer with a simpler one."
The code for navigation drawer is too complex, which can easily be replaced by navigation drawer from support library. We then won't be needing files like NavigationDrawerFragment.java, NavigationDrawerMenuAdapter.java, Section.java, fragment_navigation_drawer.xml.
I already have done 70% of the work and will be sending a PR soon.

[2016-10-29 09:58] codingblazer commented on #189
@chiragw15 No problem.Thanks for informing me.

[2016-10-29 11:35] octacode commented on #188
@opticod
There is something I need to ask before I proceed further.
Google Locale Engine doesn't supports Hindi. What should be done. Should I use a Third Party Engine. If yes? Please Suggest me Which engine I should use.
Thanks.

[2016-10-30 12:18] octacode commented on #169
Hey! @opticod , Can I help with Japanese?

[2016-10-30 15:20] codingblazer opened #194 "Critical Bug in Multiple Selection"
Hey @croozeus @opticod , there is a critical bug in LoadProject Fragment and LoadApkFragment in multiselection. App crashes in both LoadProjectFragment and LoadApkFragment for these features - Unselect All ,Delete Selected. I have depicted the bug in following video and it can be generated in same way as in video. #162 #142 #163 #164

Video Link - https://youtu.be/S4GIf8usuiI

[2016-10-30 15:31] codingblazer commented on #194
Hey @opticod , I am making a pull request for the issue. Please review it. Thanks.

[2016-10-30 16:31] codingblazer opened #196 "Multiselection Deletion and Unselect All in DraftFragment"
Currently , multiselection deletion and unselect all operation are not implemented in the DraftFragment while they are implemented in other fragments.

[2016-10-30 16:33] codingblazer commented on #196
Hey @opticod , Can I work on this if it is intended enhancement ?
Thanks.

[2016-10-30 19:36] octacode opened #197 "Multiple Options are same in the Quiz Template."
Two Options are same as depicted in the pic which is unwanted from my point of view.

![screenshot_20161031-005840](https://cloud.githubusercontent.com/assets/20819968/19839346/f24e2166-9f05-11e6-9269-fc6e0bd5472d.png)

[2016-10-30 20:09] octacode opened #199 "Feature of Multiple correct option in the quiz template."
@opticod @croozeus
We can add a feature of multiple correct answers in the Quiz Template. It will increase the vastness of the questions the teachers can put in the Quiz Template.
If you find this issue relevant enough. Should I proceed to add this enhancement. Here's a pic depicting how the template will look after the feature has been added.
Thanks.

![screenshot_20161031-013237](https://cloud.g

[2016-10-30 21:52] saketkumar95 commented on #169
@opticod Can i help with Spanish language?

[2016-10-31 08:24] codingblazer opened #201 "Old Project deletes without warning (Bug)"
If user makes a new template with  name same as some existing template (in Saved Projects) , it deletes the existing(old) template. It can lead to complete loss of user's existing project without warning.
Video - https://youtu.be/KKlJ2CQUAuQ

@croozeus @opticod What are your views regarding this ? We can implement any of following to solve this -
1. Allow user to create same name template yet pres

[2016-10-31 08:33] codingblazer commented on #201
Bug Overview -
The Bug is because currently file path is obtained using the the template title and thus templates that are named same will have exactly same file path. In project, we have used "StreamResult" class of IO for XML transformer which always replaces the old file by new one. It can solved by any of above mentioned ways.

[2016-10-31 10:44] opticod commented on #169
@saketkumar95 , sure . you can proceed.

[2016-10-31 11:09] opticod commented on #196
yaa sure

[2016-10-31 11:13] opticod commented on #201
I too feel that 2nd option is the natural one.

[2016-10-31 12:27] codingblazer commented on #201
@opticod Great ! Will be sending a PR soon.

[2016-10-31 19:51] octacode commented on #181
Thanks for the Merge.

[2016-10-31 19:52] octacode commented on #171
Thanks for the merge.

[2016-11-02 19:21] codingblazer opened #207 "Remove External Dependencies"
There are couple of dependencies we can remove by Material Design which can reduce the apk size  -
`compile 'com.cocosw:bottomsheet:1.3.0@aar'`
`compile 'com.nineoldandroids:library:2.4.0'`
I will soon be sending PR.

[2016-11-03 00:01] chiragw15 opened #208 "Need to update screenshots in "How to" activity."
The Screenshots of app in "How to" activity are old, which needs to be updated.

[2016-11-03 00:26] chiragw15 opened #209 "Author not getting displayed in project and APK Fragment"
Author not getting displayed in project and APK Fragment.

![screenshot_20161103-054840](https://cloud.githubusercontent.com/assets/16978820/19952276/1038d168-a18a-11e6-91f8-8b7972998829.png)

[2016-11-03 08:09] codingblazer opened #211 "Splash Missing"
Currently , there is no splash screen in our app and we instead see a grey screen due to app initialization as shown in the gif.

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/13872065/19959169/a5ab3976-a1ca-11e6-8026-a40675bee3c7.gif)

We can replace the grey screen by below splash.This splash will be shown for time exactly the same as time taken by app to initialize (grey

[2016-11-03 08:11] codingblazer commented on #211
@opticod @croozeus Can I proceed if it's intended enhancement ?

[2016-11-03 13:44] chiragw15 opened #212 "Adding sort functionality in Project and APK fragment."
We can add sort functionality in Project and APK fragment. Sorting can done be based on Name of Project/APK , modified Date and Author.

[2016-11-03 20:57] octacode opened #214 "Addition of a timer in the QuizTemplate"
**Actual Behaviour**
In the quiz template there is no time boundation on the question. The quiz can be solved in an hour or a minute.

**Changes Suggested**
We can ask time at the time of creation of the Quiz Template like we have done in Comprehension Template. If the user doesn't enters any time then the behaviour of the Quiz Temp will be same as it is now. When the user enters some time the qui

[2016-11-06 02:33] codingblazer opened #216 "Validations at various fields in project"
Currently, user can do following -
1.Go to Settings and enter empty string as name.Also user can give " " (space as name) which looks like following.
2.At many other places like in Template name,Author name etc user can give space as name.For ex -
![device-2016-11-06-075846](https://cloud.githubusercontent.com/assets/13872065/20034945/5291cdde-a3f7-11e6-999c-a62af4321a8b.png)
![device-2016-11-06-0

[2016-11-06 02:33] codingblazer commented on #216
Hey @opticod ,I am making PR regarding this.

[2016-11-08 10:11] free4murad opened #218 "Simplifying the NavigationBar code."
The code for navigation bar is complex. Navigation bar can be implemented without using files like fragment_navigation_drawer.xml, Section.java.
Should I simplify that?

[2016-11-08 13:15] opticod commented on #218
Already issue created at #190

[2016-11-08 13:16] #218 closed

[2016-11-08 14:20] croozeus commented on #212
Instead of sorting, allowing to group the projects under a title / subject would be a good enhancement. Teachers or parents who are creating apps for students / kids may want to group the apps by subject or different topics.

[2016-11-08 14:33] codingblazer commented on #212
Hey @croozeus ,Can I work on the above mentioned enhancement ?

[2016-11-08 14:50] croozeus commented on #212
On the one I proposed, yes!

[2016-11-08 14:51] codingblazer commented on #212
Thanks @croozeus. Will be sending a PR soon.

[2016-11-08 14:57] chiragw15 commented on #212
@croozeus Sure, I'll edit the issue. Also, @codingblazer I have started the work on this issue already, so please can you work on something else. Thanks

[2016-11-08 15:01] codingblazer commented on #212
Hey @chiragw15 , I am been assigned on the new issue reported by @croozeus . You can definitely carry on with your work on original issue.Thanks.

[2016-11-08 15:16] chiragw15 commented on #212
Sorry but he asked to edit this issue only to change it from sorting to grouping, which I did.

[2016-11-08 15:21] codingblazer commented on #212
Hey ,@chiragw15 .I am confused here. So, should I work on this as assigned ?

[2016-11-08 15:25] chiragw15 commented on #212
@codingblazer Sorry but please can you work on some other issue. I have edited the issue as suggested by croozeus and I was already working on this issue.

[2016-11-08 15:26] codingblazer commented on #212
@chiragw15 You can proceed. However, the new issue is completely different from the original one.

[2016-11-08 15:32] chiragw15 commented on #212
@codingblazer Sorry but I already started the work . If I wouldn't have , then I would have told you to proceed at once. Sorry for trouble.

[2016-11-08 15:36] croozeus commented on #212
@chiragw15 You can work on the updated issue. Thanks for the edit. Once you start work on an issue, please assign it to yourself - this way everyone knows that you are working on this. Also, would be good to comment once you start working on an issue and update progress.

@codingblazer Since chirag has already started work on this. You can pick another issue :-)

[2016-11-08 15:40] croozeus commented on #209
I think the string should be replaced with,
"Author Name, 2 Nov 2016"

(Where the Author Name is the actual name of the author)

[2016-11-08 15:41] croozeus commented on #212
@chiragw15 btw, it would be great if you could first show us a design of how you'll implement the groups before actually implementing it. We all can review the flow first.

[2016-11-08 15:42] chiragw15 commented on #212
Thanks @croozeus but I don't think we can assign issues to ourselves. It is project maintainers or owners who can assign the issues to people. I will comment on it next time I create an issue.

[2016-11-08 15:44] chiragw15 commented on #212
Yes sure , I'll do it definitely :+1:

[2016-11-08 15:50] chiragw15 commented on #209
@croozeus Okay, So instead of " Modified: 2 Nov 2016, Author: XYZ ", it should be " XYZ, 2 Nov 2016" ?

[2016-11-08 15:58] croozeus commented on #209
Yes, that's correct.

[2016-11-08 16:00] chiragw15 commented on #209
Sure :+1:

[2016-11-08 18:29] opticod commented on #211
@croozeus Presently, all template apps have splash screen but the toolkit 's splash screen is only enabled for first time run to take the author name as input.

[2016-11-08 18:31] opticod commented on #5
Closed via #170

[2016-11-08 18:31] #5 closed

[2016-11-08 18:31] croozeus commented on #211
@opticod ah, yes! It would be a good idea to add the splash screen on subsequent launches as well then. @codingblazer do you want to take this up?

[2016-11-08 18:34] opticod commented on #176
Closed via #184

[2016-11-08 18:34] #176 closed

[2016-11-08 18:35] codingblazer commented on #211
@croozeus Yeah sure !.Should I implement fixed time splash or splash with time exactly as time required for app initialization(black screen).

[2016-11-08 18:41] opticod commented on #211
Hey! how are you going to calculate the time required to app initialisation? Is it possible to calculate for all devices and all environments for each startups and apply it for the same startup?

[2016-11-08 18:49] opticod commented on #211
Or are you going to display the splash screen without having any timer and the effect will be mimicked automatically ?

[2016-11-08 18:51] codingblazer commented on #211
Its actually done using theme as explained in this article by Chris - [Big Nerd ranch](https://www.bignerdranch.com/blog/splash-screens-the-right-way/)

[2016-11-08 19:03] opticod commented on #211
Its same as my approach asked in 2nd question.
You can proceed. Make the layout looks like the old one with Edit text removed in normal startup.

@croozeus Is the design fine or want to modify it :) !
![screenshot_20161109-003047](https://cloud.githubusercontent.com/assets/13851773/20112858/f20070a0-a613-11e6-8c0a-e594458a6cf5.png)

[2016-11-08 19:06] codingblazer commented on #211
@opticod Yeah sure. Was just confirming. :-)
Will be sending a PR soon.

[2016-11-08 19:14] croozeus commented on #211
@opticod the design looks fine, EditText for name should be removed.

@codingblazer this splash should be shown for initialisation time. The approach mentioned in the article you shared seems to be the correct one.

[2016-11-08 19:16] codingblazer commented on #211
@croozeus Great ! Please assign me.

[2016-11-09 00:49] free4murad commented on #180
Can I make a PR for this issue?

[2016-11-11 01:01] free4murad opened #220 "Validation of various text fields throughout the project."
Many text field throughout the project can be left blank by just typing spaces in the text fields.
The user instead of name, questions, options etc can type in a couple of spaces and leave the text fields empty. This issue is in every template. (Some screen shots attached.)

(Info Template)
![image](https://cloud.githubusercontent.com/assets/17262180/20200569/efeb275e-a7d7-11e6-94ee-f2616ac12372.p

[2016-11-11 01:03] free4murad commented on #220
Can I make a PR for this issue?

[2016-11-11 06:45] free4murad opened #221 "Double tap on back to exit."
These days in most of the apps like paytm, flipkart etc when we press back button a Toast appears which says "press again to exit" or something similar.
![paytm](https://cloud.githubusercontent.com/assets/17262180/20206633/d58383c2-a807-11e6-98a9-885cde3808f6.png)
Paytm

![flipkart](https://cloud.githubusercontent.com/assets/17262180/20206634/d92f54d8-a807-11e6-86b9-5d908ae7b3ec.png)
Flipkart

If

[2016-11-11 07:00] free4murad commented on #220
Just made a PR.
#222

[2016-11-11 07:01] croozeus commented on #220
@free4murad thanks! @opticod will review and merge as he gets time.

[2016-11-11 07:36] codingblazer commented on #220
@opticod This is a duplicate issue of #216 of which I already sent the PR #217.

[2016-11-11 07:42] croozeus commented on #220
@free4murad damn, can you make sure you cross check the existing issues before creating duplicates. I am closing this one, @opticod let's review the PR sent by @codingblazer

[2016-11-11 07:42] #220 closed

[2016-11-11 17:38] free4murad commented on #220
In PR #217 only UserName, Title and text field have been validated.
I have added code to validate question and answers as well.

[2016-11-11 17:57] free4murad commented on #220
@codingblazer you have validated text fields only in three activities
1. FirstRunActivity.java
2. TemplateEditor.java
3. SettingsFragment.java
These changes only validate feilds like UserName, Title.

where as in PR #222 I have validated text fields of 8 extra activities, namely
1. ComprehensionTemplate.java
2. DictationTemplate.java
3. FlashTemplate.java
4. InfoTemplate.java
5. LearnSpellingTempl

[2016-11-11 17:57] codingblazer commented on #220
@free4murad In #216 , I already mentioned that the problem is in fields throughout the project and I am working on all of them. I even informed you of the same 3 days back in #219 .

[2016-11-11 18:03] free4murad commented on #220
@codingblazer  in #219 there is no mention of fields like question, answer etc

you just mentioned #216 and #217 where you have mentioned three fields. Mention of "problems in fields throughout the project" can not be found in neither #216 nor #217.

[2016-11-11 18:14] codingblazer commented on #220
@free4murad Just for reference

Sorry if I didn't write names of all 13 fields and their respective activities.
As for #219 (yours) which was exact same PR as mine #217 , I made a comment there in #219 informing you that I am still working on issue.

[2016-11-11 18:19] codingblazer commented on #220
@free4murad Let's not get into argument here. If maintainers find your PR fine while reviewing (without any bug) , they may merge it. It was not that big issue in terms of time spent by me. Thanks and let's work together.

[2016-11-11 18:36] free4murad commented on #220
@codingblazer the point is that you wrongly said that you have already mentioned the issue because of which @croozeus closed the issue.

Nowhere in #216 did you mention fields like answers and questions. My issue was different from yours.

Anyway what's done is done.
Thanks and let's work together.

[2016-11-12 04:14] free4murad commented on #221
Implemented the functionality in PR #223

[2016-11-12 12:03] free4murad opened #224 "Add a button to skip tutorials."
When the user installs the app and enter his name, he is taken to the TutorialActivity. On tutorial activity he has to browse six pages to go to the last tutorial where he can click on a button which takes the user to HomeActivity.

There should be a button on the first page of TutorialActivity to skip tutorials and go directly to HomeActivity.

[2016-11-12 12:56] free4murad commented on #224
Should I make a PR for this.

[2016-11-12 14:28] opticod commented on #194
Merged via #195

[2016-11-12 14:28] #194 closed

[2016-11-12 14:29] opticod commented on #224
@free4murad Can you provide a demo screen shot of your proposed idea ?

[2016-11-12 14:49] free4murad commented on #224
Sure

Currently on installation when the user enter his name and goes to Tutorial activity the activity looks like this
![before](https://cloud.githubusercontent.com/assets/17262180/20238597/11560538-a915-11e6-874c-38984c125f50.png)

What i suggest is that we add a button so that user can skip the tutorials(This feature can be found in most of the apps these days.)

![after](https://cloud.githubus

[2016-11-12 18:54] free4murad opened #225 "Share button not working in DraftFragment.java"
The share button on the toolbar in DraftFragment is not working.

Expected - On pressing the share button user should be able to share the draft.

[2016-11-12 18:54] free4murad commented on #225
Should I make a PR for this.

[2016-11-12 19:35] opticod commented on #225
Its already fixed through issue #171. Check the **bug-fixes** branch for latest code.

[2016-11-12 19:35] #225 closed

[2016-11-12 19:47] free4murad commented on #225
Sorry, I am new to GitHub.

[2016-11-12 20:49] opticod commented on #225
No Problem.

[2016-11-12 23:06] chiragw15 commented on #212
@croozeus @opticod How about something like this to group projects under a title?

![screenshot_20161113-042658](https://cloud.githubusercontent.com/assets/16978820/20242607/82aeb3de-a95a-11e6-9a1c-674c95af4d1a.png)

[2016-11-13 05:06] croozeus commented on #212
Thanks for the mockup @chiragw15

Couple of questions:

1. How would the user create a group initially?
2. Where would the user be asked which group to save the app to?
3. How can the user move the app to another group?
4. How would the user rename a group, what would the interaction and interface for this look like?

If you could show the user flow for these scenarios, it would be great. We shoul

[2016-11-13 05:24] chiragw15 commented on #212
@croozeus  The flow will be exactly like a normal directory (file manager) system. Just assume group to be a folder and project to be a file.

Ans 1.) There will be an option to create a new group in the Project Fragment.
Ans 2.) While saving a project, user will be asked where he wants to save the project. There will also be an option to create a new group and and save a project in it. ( Just lik

[2016-11-13 13:41] vishwesh3 opened #226 "Show SnackBar after deleting item with a button to UNDO delete."
When the user delete the item by mistake or he/she is in confusion whether he/she kept this item or delete it and suddenly he/she thought to kept that item, so for such case there should be a UNDO option, to restore items.

[2016-11-14 03:35] free4murad opened #227 "Adding a button in "Saved Projects" fragment to create a new project."
I suggest adding a "CreateNewProject" button in the "Saved Projects" fragment.
The button can be a FAB or option in toolbar.

[2016-11-14 13:49] vishwesh3 commented on #226
@opticod Should I make a PR for this?

[2016-11-15 01:48] free4murad commented on #226
@vishwesh3
Suggestion -
Implementing SnackBar is a great idea.
Usually the apps that use a SnackBar (gmail etc) don't use a delete confirmation dialog box. I this particular app the delete confirmation dialog box is used almost everywhere.

I think that, if the project mentors give a go ahead to SnackBar idea, you should remove the delete confirmation dialog box. (Actually I, myself thought about

[2016-11-17 09:33] vishwesh3 opened #228 "Edit Item Dialog should have Save button instead of Add"
@croozeus @opticod
In the **Basic mLearning**, **Learn Spellings**, **Quiz Template** After adding item and clicking on **Edit** icon Dialog appears with **Add** button, it should come **Save** button.
![screenshot_20161113-191423](https://cloud.githubusercontent.com/assets/18511177/20383678/c0fd9b6c-acd6-11e6-83e9-96f50e712818.jpg)

[2016-11-17 09:34] vishwesh3 commented on #228
Should I create PR?

[2016-11-17 09:48] opticod commented on #228
Did u checked the latest build of **bug-fixes** branch?

[2016-11-17 13:05] vishwesh3 commented on #228
yes, checked. this issue still exits.

[2016-11-17 18:25] opticod commented on #228
Check this one https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/commit/b24af7709f316fc6bd61f07e6015634ebe80d458

[2016-11-18 03:38] vishwesh3 commented on #228
Sorry, I am new to all this. Will make sure all this before creating new issue. Thanks

[2016-11-18 03:38] #228 closed

[2016-11-18 03:39] vishwesh3 commented on #226
@opticod  your review?

[2016-11-18 06:32] opticod commented on #226
@vishwesh3 :+1: you can proceed. @free4murad is right. You can remove the delete confirmation dialog box and implement snackbar like that in gmail .

[2016-11-18 06:36] free4murad commented on #224
@opticod
Should i make PR for this.

[2016-11-18 06:54] opticod commented on #224
yes

[2016-11-18 14:35] chiragw15 commented on #212
@croozeus This is the appflow I am thinking of. Please have a look. Waiting for feedback :)

https://drive.google.com/open?id=0B6IO4qTKhVUCdWxNTk1pUlFVd0E

[2016-11-20 13:36] opticod opened #231 "Addition of screenshot of present App in README."
It would be great to have some still or animated-gif screenshot of present app in the README.

[2016-11-20 13:37] codingblazer commented on #231
@opticod Can i work on it ?

On 20 Nov 2016 7:06 p.m., "Anupam Das" <notifications@github.com> wrote:

[2016-11-20 14:29] opticod commented on #231
Yaa sure @codingblazer 👍

[2016-11-21 07:45] croozeus commented on #212
@chiragw15  Thanks for the mocks. The overall flow looks good to me.

For steps 3, 4 and 5 in the app flow - what I don't like is the overlapping dialogs i.e. "Create Group" modal view over "Select Location" modal view. I would not make "Select Location" a dialog / modal view - rather let it take the complete screen as "Info template" screen.

Also, there should be some preconfigured groups that w

[2016-11-21 12:40] chiragw15 commented on #212
@croozeus Thanks for the feedback :) . I'll change "Select Location" dialog box to full screen .

For this, how about groups with title as the type of app template , like InfoApps, QuizApps, VideoApps, ComprehensionApps, DictationApps etc.
I was just waiting for your feedback. I'll start coding now :).

[2016-11-24 17:51] croozeus commented on #212
I don't think we should group them by template type. It wouldn't make sense to ask the user which group he wants to add to if we do template wise grouping. It should be on a title / topic based type for example, some teachers may want to group the app by chapters or subjects.

[2016-11-28 21:25] vishwesh3 commented on #226
Created PR #234 .

[2016-11-29 11:47] opticod commented on #196
Closed via #200

[2016-11-29 11:47] #196 closed

[2016-11-29 12:47] opticod commented on #209
Closed via #215

[2016-11-29 12:47] #209 closed

[2016-11-29 13:08] opticod commented on #220
@codingblazer, I reviewed your PR #217, please resolve merge conflicts.

@free4murad, I also checked your PR #219. So can you please remove validations for Template name, Author name and Username (in Settings and FirstRunActivity) to check for empty string or string with non alphanumeric starting character which are addressed by PR#217? Then we can merge your rest of the validations.

[2016-11-29 13:54] opticod commented on #227
Its already implemented. Please check the **bug-fixes** branch for latest code. Thank you.

[2016-11-29 13:54] #227 closed

[2016-11-29 13:55] opticod commented on #214
@croozeus Sir any thoughts?

[2016-11-29 13:58] opticod commented on #208
You can proceed. @chiragw15

[2016-11-29 14:04] saketkumar95 commented on #224
Can i work on it? if it's open.

[2016-11-29 14:06] free4murad commented on #224
@saketkumar95
I am working on it.

[2016-11-29 14:06] saketkumar95 commented on #211
Can i work on this?

[2016-11-29 14:10] opticod commented on #165
Closed via b24af77

[2016-11-29 14:10] #165 closed

[2016-11-29 14:14] opticod opened #235 "Travis is failing"
Travis is failing(#211).
Here is the log : `The command "echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI" failed and exited with 1 during .`

https://travis-ci.org/BuildmLearn/BuildmLearn-Toolkit-Android

[2016-11-29 14:45] croozeus commented on #235
I see that you are trying to tweak the YML file to get this working. However, it may be worth checking that merging which PR exactly broke travis and analyse if any build / project settings got changed in that PR.

[2016-11-29 14:49] opticod commented on #235
Regarding merging of PRs, i doubt any one of them broke it.

Build is failing may be due to Google renaming the ABIs again. It has been described in this issue: https://github.com/OneBusAway/onebusaway-android/issues/720#issuecomment-263402921

[2016-11-29 14:57] saketkumar95 commented on #221
I also thought of this feature but  it is only suitable for games, or app which has sessions like banking apps, computer based tests, etc. The reason why UX designers put this feature in an app is because they do not want the user kill a session unknowingly and may be getting to the home screen the app requires a lot of verification.

Getting to the home screen is just a tap away in this app so no

[2016-11-29 15:35] opticod commented on #235
All should rebase their current PRs with current **bug-fixes** branch, if they are sill failing.

Closed via #236

[2016-11-29 15:35] #235 closed

[2016-11-29 15:36] croozeus commented on #235
Great, thanks for the quick fix @opticod

[2016-11-30 14:50] codingblazer opened #240 "Keyboard covers EditText"
In FirstRunActivity, and keyboard covers the name edittext if opened second time as shown below -

![key](https://cloud.githubusercontent.com/assets/13872065/20756888/66f2545a-b73a-11e6-884a-75b702f47877.gif)

This is a  bug in Android -
View (Name EditText here) doesn't lifts up when keyboard opens **if** keyboard is coming over any view containing android:gravity="center_horizontal" or android:g

[2016-11-30 14:51] codingblazer commented on #240
@opticod @croozeus I am sending a PR regarding this. Please take a look. Thanks.

[2016-11-30 17:28] vishwesh3 commented on #226
Hi, I am facing a got related issue. Actually I forked original repo and commited the changes there, but now I can't submit a PR as the original repo is changed. What shall I do now?

[2016-11-30 17:53] opticod commented on #226
Try to rebase your current repo with original repo.

[2016-12-02 08:37] vishwesh3 commented on #226
Created PR #243

[2016-12-04 02:16] m-murad opened #245 "Improve onBackPressesed in TemplateEditor.java."
Currently - In TemplateEditor activity if the user presses back button draft is automatically saved (or not if no data is present).
or
In TemplateEditor activity if the user presses back button saved project is saved as a draft

What should happen - If user presses back button a dialog box asking user if he/she wants to save the existing project/drafts or not should appear.

[2016-12-04 02:17] free4murad commented on #245
@opticod
Should I make a PR for this.

[2016-12-04 10:03] opticod commented on #211
@saketkumar95 , @codingblazer is already working on this. Feel free to take anyother unassigned issues.

[2016-12-04 10:06] opticod commented on #245
@free4murad, you can proceed

[2016-12-04 11:50] opticod commented on #211
Merged via d7f0fbd5882075d5c39aed0454d8d68fcd2f71f5 and fa3dc90c9e2031c565cda7d41d6b06b60a88230e

[2016-12-04 11:50] #211 closed

[2016-12-04 11:58] opticod commented on #221
@saketkumar95 , Lets do some experiment. If we found it not useful, we can remove it in near future.

[2016-12-04 11:59] opticod commented on #221
Closed via #237

[2016-12-04 11:59] #221 closed

[2016-12-04 12:17] opticod commented on #231
Closed via #239

[2016-12-04 12:17] #231 closed

[2016-12-04 12:29] opticod commented on #240
Closed via  #242

[2016-12-04 12:29] #240 closed

[2016-12-04 12:58] opticod commented on #226
Closed via #243

[2016-12-04 12:59] opticod commented on #224
@free4murad , I checked your PR #238,  ```skip buttons``` will be there in all the slides for first time. You had added it for only first slide. Please fix it.

[2016-12-04 13:01] vishwesh3 opened #247 "Make template selector page more informative"
As of now if template description is long it not able to fit in the space in the card. As shown in the image below.
![buildmlearn select template](https://cloud.githubusercontent.com/assets/18511177/20866265/3f34df60-ba4f-11e6-996c-5f71f455c204.jpeg)

**Better option**
Add a button "Details" and on click of it dialog will open containing all its details. As shown below.
Also `ellipsize="end" ` (Bl

[2016-12-04 14:55] free4murad commented on #247
@vishwesh3
On my device its working fine. You might be using a device with small screen.
You might want to work on changing text size depending on device size.

[2016-12-04 15:41] vishwesh3 commented on #247
@free4murad I am using phone with 5.5 inch screen display also app should looks good on all the devices .  And to display long description (Full and informative ) we can't always reduce font size to fit in card or `height:wrap_content` of card (which will make card height to wrap its content which will eventually not looks good).  Better way is in the issue.
@opticod Please review it.

[2016-12-04 21:13] opticod commented on #190
Closed via #206

[2016-12-04 21:13] #190 closed

[2016-12-04 21:13] opticod commented on #180
Closed via #206

[2016-12-04 21:13] #180 closed

[2016-12-05 16:26] free4murad commented on #247
@vishwesh3
That's what I'm saying. We need to make changes so that the app is compatible with small displays.

[2016-12-06 09:17] opticod commented on #201
Closed via #202

[2016-12-06 09:17] #201 closed

[2016-12-06 09:19] opticod opened #249 "[December 2016 Release] Launching app to playstore"
All contributors who are working on various issues are requested to complete them fast as we will be launching our next update to Google PlayStore. :tada:

[2016-12-06 09:27] opticod commented on #224
Closed via #238 & #248

[2016-12-06 09:27] #224 closed

[2016-12-06 10:14] vishwesh3 commented on #247
@opticod Should I create PR?

[2016-12-06 10:23] ani27 opened #251 "Multiple Item selected in Navigation bar"
Currently, when you exit app from an page, example >>settings<< and open it again, there are multiple items selected in navigation bar.
![screenshot_20161206-154659](https://cloud.githubusercontent.com/assets/10931958/20921856/0243a734-bbcc-11e6-9dd5-f57cffb51525.png)

I would like to work on this issue.

[2016-12-06 14:10] free4murad commented on #251
@ani27
what version of app are you running.
I am facing no such problem.
Also your navigation drawer is different.

[2016-12-06 14:22] free4murad commented on #249
How much time do we have?

[2016-12-06 14:33] ani27 commented on #251
@free4murad  the one on the playstore. Isnt that updated?

[2016-12-06 14:33] #251 closed

[2016-12-06 14:45] croozeus commented on #249
Plan is to freeze a build by Sunday (11 December), test for a week and then release to Play store.
So essentially anything that is merged by this weekend would go into the build and undergo testing.

[2016-12-06 15:32] opticod commented on #189
Closed via #206

[2016-12-06 15:32] #189 closed

[2016-12-06 15:39] opticod commented on #208
@chiragw15, Are you still working on this?

[2016-12-06 15:44] opticod commented on #249
@croozeus , Thanks for mentioning it. I have labelled some of the open-issues. Shall we give localisation support(#169) in this release?

[2016-12-06 15:56] opticod commented on #245
@free4murad And if the template is fresh and no changes have been made, no need of displaying user that "Unable to perform action: No data". Also fix all such corner through your PR.

[2016-12-06 16:02] free4murad commented on #245
@opticod
I am improving the saveProject and saveDraft function also.

I am doing the following.
1. If the template is a new one and user presses back a dialog box will ask the user if the project should be saved as draft or project file.
2. If the template is an old project file then on back press project will be updated.
3. If the template is a draft then on back press the draft will be updated.

[2016-12-06 16:09] opticod commented on #245
For 1. Add the option of discard also.
For 2. Fine
For 3. Fine
Along with it if the template is fresh and no changes have been made, no need of displaying user that "Unable to perform action: No data" as mentioned in my last message.

[2016-12-06 16:25] croozeus commented on #249
@opticod Localization support - we can differ to one of the future release.

[2016-12-06 18:49] chiragw15 commented on #208
Actually, I was working on #212 .But, since this issue should be resolved before December release. I'll work on this one first. Will send a PR soon. :)

[2016-12-06 22:26] opticod commented on #208
Closed via #252

[2016-12-06 22:26] #208 closed

[2016-12-07 20:09] vishwesh3 commented on #175
@octacode Are you still working on this? I would like to work on this.

[2016-12-07 21:35] codingblazer opened #254 "App Crashes for Match and Comprehension Template"
@opticod @croozeus While creating a new project, if we choose Match or comprehension template ->Add Meta Details -> Add 2 items -> Now delete Meta details -> Try saving project now -> App crashes.

[2016-12-07 21:39] codingblazer commented on #254
The problem is that we have not performed any check on this (if user have provided meta data or not ). It should be provided by user in every case before allowing to save project or user will be asked for the same.
@opticod I am sending a PR for this. Please check.

[2016-12-07 22:56] free4murad opened #255 "Backpress should deselect selected items if any."
Currently - In "Saved Projects", "Saved APKs" and "My Drafts" if the user has selected items and presses back button the user is taken to the last open fragment.

Intended - User presses back button, if there are any items selected they should be deselected. After that if the user presses back key last fragment (preferably "Home" fragment) should open

[2016-12-07 22:57] free4murad commented on #255
@opticod @croozeus
Should I make a PR to solve this?

[2016-12-07 23:08] free4murad opened #257 "Improve search in "Saved Projects" and "Saved APKs" menu."
If the user has save a project or apk by the name "Test VI" and searches the file by entering "VI" the result is not shown. Basicly the current function checks if the project or APK name starts with the search phase.

Intended - Even if the user enter a part of the filename, the file should be shown in search result.

[2016-12-07 23:09] free4murad commented on #257
@opticod @croozeus
Should I make a PR for this issue.

[2016-12-08 13:22] opticod opened #259 "Improving the existing screenshot of How to Fragment"
- [x] Adding slides for Saved APKs, My Drafts.

- [x] First screenshot is different form what actually is.

- [x] Adjusting brightness of existing screenshot with background.

- [x] Highlighting parts of the screenshot which are necessary. Like .. highlighting buttons with mentioned usages.

- [x] Replacing screenshot with newly added four templates, this will let the user know what are the newly

[2016-12-08 13:23] opticod commented on #259
I figured this out while testing the app, and currently working on it. Will make those changes shortly.

[2016-12-10 20:35] opticod commented on #254
Closed via #258

[2016-12-10 20:35] #254 closed

[2016-12-10 20:41] opticod commented on #257
Closed via #261

[2016-12-10 20:41] #257 closed

[2016-12-10 20:44] opticod commented on #255
@free4murad, Fix this before Dec Release

[2016-12-10 22:37] codingblazer opened #262 "Reducing Apk Size"
Apk size can be reduced significantly before publishing the app -

1. Removing unused activities and files, unused import statements, unused Resources -

- arrays.xml

- 7 unused imports in DictationTemp, FirstRunActivity, FlashTemp, MatchTemp, SettingsFrag.

-  unused resources in strings.xml , dimen.xml etc.

2. Optimizing Drawables (responsible for major apk size)

- There are many drawables of

[2016-12-10 23:52] opticod commented on #262
Yaa proceed.
For 3. Remove them cautiously with clean rebuild, bcoz one such example is ```axml.jar``` is necessary for decompiling compiled XML and vice versa.

[2016-12-11 16:56] octacode opened #268 "Using delete after Multiple selection"
When we use delete after multiple selection in Saved Projects, Saved APKs or My Drafts fragment. Toolkit should inform the number of items user is about to delete and the delete Toast Message should be like "10 Projects successfully deleted.".

I would like to work on the issue.
Thanks

[2016-12-12 08:15] free4murad opened #269 "In flash card template when we start simulator the toolbar says learn spellings."
![screenshot_20161212-134449](https://cloud.githubusercontent.com/assets/17262180/21092225/1d71dee6-c071-11e6-95b7-a4c2f47d6cf9.png)

This bug is at some other places as well.

[2016-12-12 08:16] free4murad commented on #269
@opticod
Should I make a PR.

[2016-12-12 08:52] vishwesh3 opened #271 "App is crashing"
![videotogif_2016 12 12_14 21 19](https://cloud.githubusercontent.com/assets/18511177/21093206/974c4ecc-c076-11e6-8469-f343ab3a001d.gif)
In **My Drafts** page when we select one item (by long pressing) and then click on **Select all** in actionbar app crashes.

[2016-12-12 09:14] codingblazer commented on #271
@vishwesh3 I can't replicate this problem. Can you tell the reason or logcat for this problem.
I think you must have some old drafts and in any run from Android Studio data would have been removed causing crash on NullPointerException. (It has happened to me many times on other projects).If this is the case, it  happens only on developer's  device.

[2016-12-12 09:59] vishwesh3 commented on #271
@codingblazer Yes it was due to some old drafts, as soon as i reinstalled app it was solved. But the app is going to be published on play store soon so I think there should be null pointer check before getting child.

`mListView.getChildAt(i)`

waiting for @opticod review.

[2016-12-12 10:05] opticod commented on #271
I too was unable to duplicate the issue. Closing it for now.

[2016-12-12 10:12] opticod commented on #269
Closed via #270

[2016-12-12 10:12] #269 closed

[2016-12-12 10:15] vishwesh3 opened #272 "Show snackbar with UNDO button while deleting saved or draft."
**Observed Behaviour**
On deleting dialog is show with confirmation.

**Expected Behaviour**
On successful deletion show snackbar with UNDO button, on click of this undo button deleted projects will be restored.

I would like to work on this, assign me this.

[2016-12-12 10:28] opticod commented on #272
According to material design guidelines  https://material.google.com/components/dialogs.html

Some dialog types include:
Alerts are urgent interruptions that inform about a situation and require acknowledgement.

Hence, we left them as it is for deleting project, apks or drafts. Whereas we will be using the snackbar deletion procedure for datas in template editor.

[2016-12-12 10:28] #272 closed

[2016-12-12 10:30] vishwesh3 commented on #272
ok

[2016-12-12 10:47] vishwesh3 opened #273 "Author becomes Unknown"
In **Saved APk** and **Saved projects** wile making search author becomes "Unknown" and date 1 Jan 1970.

![videotogif_2016 12 12_16 08 26](https://cloud.githubusercontent.com/assets/18511177/21096523/4baa6a7a-c086-11e6-8b04-8f86b8ff7f12.gif)

[2016-12-12 10:49] opticod commented on #273
Yaa fix this quickly.

[2016-12-12 10:49] codingblazer commented on #262
@opticod Should I create different PR's for 1,2,3 because with so many files changed they can't be differentiated and they are also unrelated to each other.

[2016-12-12 10:50] opticod commented on #262
Yaa fell free to create it . @codingblazer

[2016-12-12 10:52] opticod commented on #245
It looks like it require more testing and need to fill every corner cases. So removing this from DEC-2016 release for now.
@free4murad

[2016-12-12 11:32] opticod commented on #216
Closed via #217 & 39f605a & #253

[2016-12-12 11:32] #216 closed

[2016-12-12 11:34] opticod commented on #197
Closed via #265

[2016-12-12 11:34] #197 closed

[2016-12-12 11:43] opticod commented on #175
Closed via #266

[2016-12-12 11:43] #175 closed

[2016-12-12 11:47] opticod commented on #247
Showing them through a dialog on pressing details, is not a good solution. Need to find a better solution.

[2016-12-12 11:49] codingblazer commented on #262
@opticod I think axml.jar dependency is not in use anymore because its building fine after removing this and running on device too. I have also tried after doing "Clean Project" and and uninstalling app. Its use must have been removed by someone.

[2016-12-12 14:19] opticod commented on #262
AxmlReader.class from axml is used in https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/blob/master/source-code/app/src/main/java/org/buildmlearn/toolkit/utilities/SignerThread.java#L112 . So it should not be removed. Please check it very cautiously as removing it may crash the app later.

[2016-12-12 14:35] opticod commented on #262
@codingblazer Remove first ```
    compile fileTree(include: ['*.jar'], dir: 'libs')``` then try to remove each.

[2016-12-12 15:27] opticod commented on #273
Closed via #275

[2016-12-12 15:27] #273 closed

[2016-12-12 16:20] opticod commented on #255
@free4murad, Are you working on this?

[2016-12-12 16:22] opticod opened #276 "Issue with Search in SavedProjects and SavedAPKs + My Drafts"
1. While searching if any item is deleted, then on closing the search view, adapter still contains that item.
2. In Drafts, if an item is saved as project and on clicking back, if no drafts exists then, it should display proper empty message.

[2016-12-12 16:23] codingblazer commented on #276
@opticod Can I work on it?

[2016-12-12 16:25] octacode commented on #276
@codingblazer. You already are on more than 1 issue lemme work on it. ^^

[2016-12-12 16:27] opticod commented on #276
Thank you Guys, but i have already fixed it. @codingblazer @octacode

[2016-12-12 16:30] codingblazer commented on #276
@opticod Great !!
@octacode I don't have more than one issue assigned.

[2016-12-12 17:23] free4murad commented on #255
@opticod
Yes, I will make a PR soon.

[2016-12-12 17:33] opticod commented on #276
Closed via #277

[2016-12-12 17:33] #276 closed

[2016-12-12 17:39] opticod commented on #268
closed via #278

[2016-12-12 17:39] #268 closed

[2016-12-12 17:40] opticod opened #279 "Moving all hardcoded strings to strings.xml"
You should be moving all the existing necessary hardcoded strings to strings.xml.
Anyone want to help me out here?

[2016-12-12 17:43] octacode commented on #279
Count me in.

[2016-12-12 17:43] codingblazer commented on #279
If still need help, I will be happy to help.

[2016-12-12 17:44] rijuldhir commented on #279
I can help too.

[2016-12-12 17:47] codingblazer commented on #279
@opticod I think there are too many lint issues also. We can add those too if you feel so.

[2016-12-12 18:03] opticod commented on #279
@octacode @codingblazer @rijuldhir , Cool, then lets distribute these works among us all.
@octacode Can you fix all hard coded strings in first 10 folders(alphabetically sorted order)? viz. activity to matchtemplate folder.
@rijuldhir Can you fix all hard coded strings in last 7 folders(alphabetically sorted order)? viz. model to views folder. + ToolkitApplication + all files in res folder if any.

[2016-12-12 18:05] octacode commented on #279
Awesome @opticod. ^^

[2016-12-12 18:12] octacode commented on #279
@opticod. We only need to hard code those strings which we have to display as a message to the user. Right?

[2016-12-12 18:20] vishwesh3 commented on #279
If still there is any unassigned issue, let me know I will be happy to work on that.

[2016-12-12 18:23] opticod commented on #279
@octacode Yes, and rest wherever possible but not all declare them as constant globally.

[2016-12-12 18:25] opticod commented on #279
@vishwesh3 Cool, Can you replace all hardcoded dimes into dimen.xml ?

[2016-12-12 18:27] opticod commented on #279
Guys when replacing them please minimise the redundancy of newly added strings or dimen,  by this what i mean is ...if there already an existing entry of it then better use that rather than adding one more entry in xml file.

[2016-12-12 18:27] vishwesh3 commented on #279
Yes.

[2016-12-12 19:36] octacode commented on #214
@croozeus @opticod
Should I proceed with the coding part.

[2016-12-12 19:48] octacode opened #281 "Addition of screen transitions."
Right now, There is no screen transition animation when an intent is called. We can add one of the following transit between screens:-
1. Fade-In , Fade-Out
2. Slide-Left, Slide-Right
No new external decencies will be required for this.
If this is considered enhancement, I would like to work on it.
Thanks

[2016-12-12 22:35] free4murad commented on #245
@opticode
How much time do I have. Actually I have to take my semester test tomorrow.
If I send a PR after that can you include it in Dec, 2016 release.
Or should I send a PR today.

[2016-12-12 23:53] opticod commented on #245
@free4murad,
We  had earlier planned to freeze a version by last Sunday, but as still some issues are open, we planned to give a couple of more days. So, by today or tomorrow, we will be updating our master branch and move on to phase of testing.

I would suggest you to prepare for your school semester now, as they are also valuable.
We can merge your PR, once you are done.

[2016-12-13 00:04] m-murad opened #286 "Change the textfield lables throughout the project."
![screenshot_20161213-052311](https://cloud.githubusercontent.com/assets/17262180/21121934/357633b4-c0f5-11e6-979e-4000f6ebbc7a.png)
"Add meta details". User will not understand metadata.
![screenshot_20161213-052240](https://cloud.githubusercontent.com/assets/17262180/21121935/36787222-c0f5-11e6-95b9-ebb9fee79339.png)
Instead of "Template Name" we should use "Project Name".
![screenshot_20161213-

[2016-12-13 00:05] free4murad commented on #286
@opticod
Should I make a PR for this.

[2016-12-13 00:20] opticod commented on #279
I realised that, most of you are creating minute mistakes while making PRs but they can be critical in production, so will not merge any big change before DEC-2016 release.

[2016-12-13 07:27] rijuldhir opened #287 "Hard Coding the strings from model to views folder. + ToolkitApplication + res folder"
Part of the issue #279

[2016-12-13 11:09] codingblazer opened #290 "App Crash on Closing Simulator Before Timer in Comprehension"
If we close the simulator before timer has finished in Comprehension, app crashes.

[2016-12-13 11:09] codingblazer opened #291 "App crashes if time is zero in Comprehension Template"
If user gives zero time in Comprehension , app crashes.

[2016-12-13 11:11] codingblazer commented on #290
@opticod I have sent the PR for this.

[2016-12-13 11:11] codingblazer commented on #291
@opticod PR sent

[2016-12-13 13:30] opticod commented on #291
Closed via #293

[2016-12-13 13:30] #291 closed

[2016-12-13 15:13] opticod commented on #207
Closed via #210

[2016-12-13 15:13] #207 closed

[2016-12-13 15:59] opticod commented on #255
Closed via #295

[2016-12-13 15:59] #255 closed

[2016-12-13 16:22] codingblazer commented on #249
@opticod Till when the testing will be done. I wanted to test app properly but am not able to because of exams.

[2016-12-13 16:32] opticod commented on #249
@codingblazer, testing will be performed by this weekend.

[2016-12-13 19:24] opticod commented on #262
Closed via #283 #284 #285 5cbae12

[2016-12-13 19:24] #262 closed

[2016-12-13 19:32] opticod commented on #259
Closed via #263

[2016-12-13 19:32] #259 closed

[2016-12-13 20:07] opticod commented on #249
Master branch is now updated and contains the stable version of the code. All can download the APK from https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/releases/tag/v2.5.0

Test it and report if any issue exists.

[2016-12-13 20:08] vishwesh3 commented on #226
In #243 I have done changes in **TemplateEditor.java**  https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/pull/243/files But they are gone after @codingblazer commit (https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/commit/79e79e45abcdca952c9cce0c3c60e8f2469b4c85)
Now again AlertDialog is appearing instead of SnackBar.
@opticod Please have a look on it.

[2016-12-13 21:05] free4murad opened #298 "In the first run activity the name should appear in center."
![screenshot_20161214-023035](https://cloud.githubusercontent.com/assets/17262180/21159086/cfa2c03c-c1a5-11e6-87e7-fd09037123be.png)

[2016-12-13 23:14] opticod commented on #298
Closing as already discussed in https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/pull/242

[2016-12-13 23:14] #298 closed

[2016-12-13 23:26] opticod commented on #226
@vishwesh3, make a PR to bug-fixes branch ASAP, you can take the help from https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/commit/79e79e45abcdca952c9cce0c3c60e8f2469b4c85#diff-ce9d81d677f8f2cd571e426685cae96a

[2016-12-14 09:44] #287 closed

[2016-12-14 13:04] nikhilchowdary opened #302 "File Path is not automatically included when sharing through gmail"
When sharing a project , it is not attached to gmail automatically.This makes  to manually navigate to the "internalstorage/buildmlearn/saved/"   location

I will fix will fix this issue and send a pr asap

![screenshot_2016-12-14-18-23-28-229_com google android gm](https://cloud.githubusercontent.com/assets/16875030/21182950/9cd51e62-c22b-11e6-94f1-87e5d7acedf8.png)

[2016-12-14 14:36] opticod commented on #302
It seems only with Internal Storage, I tried having External Storage and
it's working fine.
You can proceed.

On 14-Dec-2016 18:34, "nikhil chowdary" <notifications@github.com> wrote:

[2016-12-14 15:01] vishwesh3 commented on #226
Created PR #300 @opticod please have a look on it.

[2016-12-15 06:57] free4murad opened #303 "In Match template the name of both the lists can be same."
@opticod
Also the user can insert same options.

Making a PR for this.

[2016-12-15 08:16] free4murad opened #305 "Making first activity full screen."
@opticod
Many apps like Shareit make their launcher activity fullscreen to make it good looking.
We can do the same.

What do you think?

[2016-12-15 10:23] free4murad opened #306 "In Comprehension and Quiz template if the user edits the questions he can make options same."
In Comprehension and Quiz template at the time of adding a new question the user cannot make options same, but while editing the question the same can be done.

I am making a PR for this.

[2016-12-15 11:37] vishwesh3 commented on #271
I got some clue when app is crashing
**Steps to reproduce it**
If the list of draft is more ( list becomes scrollable ) e.g. if your screen can occupy 7 items and you have more than 10 drafts, on selecting all, it crashes.

![videotogif_2016 12 15_16 51 59](https://cloud.githubusercontent.com/assets/18511177/21222533/5430ccb6-c2e8-11e6-9a58-f3e889ad7e62.gif)
![videotogif_2016 12 15_16 48 10](https

[2016-12-15 13:43] opticod commented on #271
@vishwesh3, thanks for it. Its crashing. Re-opened issue. Are you working on this?

[2016-12-15 13:48] vishwesh3 commented on #271
Yes I am working on it. Please review #300 so that my new commit doesn't go in that PR.

[2016-12-15 14:36] opticod commented on #271
Work independently in different branches, will merge them independently.

[2016-12-15 14:39] vishwesh3 commented on #271
ok. I am almost done will soon create new PR in bug-fixes branch.

[2016-12-15 15:46] manish15597 commented on #306
can i work on this ... I have a little knowledge on Android

[2016-12-15 15:48] free4murad commented on #306
@manish15597
I have already created a PR for this issue.
Watch out for unassigned issues.

[2016-12-15 15:51] manish15597 commented on #306
okay ... I'm new to this... didn't know what what PR meant ... got it ... ill look out for unassigned issues.

[2016-12-15 16:11] free4murad commented on #306
@manish15597
I suggest that you go through [this](https://github.com/free4murad/Git-Guide) repository so that you can understand the basics of the Git.
Once you are done with this, download the code base, install the app and try to find bugs.

[2016-12-15 17:19] manish15597 commented on #306
Thanks.

On Dec 15, 2016 9:41 PM, "Murad" <notifications@github.com> wrote:

[2016-12-16 12:44] iit2014086 opened #310 "Improve MatchTemplate"
@opticod Currently we can add only on matchTheFollowing, instead we can add support for multiple matchTheFollowing so that a new apk is not required for each and every MatchTemplate.  I will create a PR for this.

[2016-12-18 18:51] vishwesh3 opened #311 "Adding of Widget"
Adding a widget that contain buttons to all template. On clicking this button template editor of that template will be opened. This will enhance user experience and will act as shortcut. List of the template in widget will be sorted in order of frequency of user's usage.

[2016-12-19 20:12] shikharbhuddi commented on #305
@free4murad The launcher activity is already fullscreen. @opticod Correct me if I am wrong.

[2016-12-19 20:16] shikharbhuddi opened #312 "Preventing EditText to hide behind Soft Keyboard"
@opticod The EditText in Launcher activity hides behind the soft keyboard if it is clicked second time i.e. after pressing the back button, if the EditText is clicked again, it hides behind the soft keyboard.
Should we handle the case?

[2016-12-19 20:19] octacode commented on #312
@shikharbhuddi By launcher activity you mean the FirstRunActivity. Ryt??

[2016-12-19 20:20] shikharbhuddi commented on #312
@octacode Yes. FirstRunActivity.

[2016-12-19 20:21] codingblazer commented on #312
@shikharbhuddi Refer #240

[2016-12-19 20:38] shikharbhuddi commented on #312
@codingblazer Thanks but I think I have figured out a solution by extending the EditText and overriding the IME key action.

[2016-12-19 20:42] codingblazer commented on #312
@shikharbhuddi  Its already been fixed. Maybe you have not fetched recent changes. Nd btw what's IME

[2016-12-19 20:51] shikharbhuddi commented on #312
@codingblazer Apologies if I have not fetched the recent changes. IME: input method. The _already fixed_ has worked upon the gravity of the widget. I am suggesting a solution by "extending the EditText and overriding the IME key action", in which case the EditText field doesn't hide behind the soft keyboard ever. Please correct me if I am wrong.

[2016-12-19 20:57] codingblazer commented on #312
@shikharbhuddi The fix I provided also solved it completely (in every case). Actually yours solution nd mine both are just workaround because actual way of doing it is by setting inputtype in manisfest/xml.But it didn't worked  because its a bug in Android which will be solved in next android release. Please refer comments in my PR to see what is the bug.

[2016-12-19 21:21] shikharbhuddi opened #313 "Two Toasts upon pressing back for exit"
Pressing the back button second time also shows the toast.

[2016-12-20 00:18] opticod commented on #305
@shikharbhuddi, the launcher activity is not currently fullscreen.

@free4murad, Not necessary at this moment.

[2016-12-20 00:18] #305 closed

[2016-12-20 02:50] free4murad commented on #313
@shikharbhuddi
please write the steps to reproduce the error so that everyone can confirm.

[2016-12-20 14:28] opticod commented on #302
@nikhilchowdary, Are you still working on this issue?

[2016-12-20 14:38] opticod commented on #271
closed via #309

[2016-12-20 14:38] #271 closed

[2016-12-20 16:39] tejavojjala opened #314 "backpress not working properly in simulator of video,dictation and flash templates"
Problems in Video and Dictation templates:<br>
            Create a project and run the simulator. Now select a video(or dictation). Click back press. You will be redirected to choose. Instead go to the last fragment and click restart. Now click back press. Instead of redirecting to choose you will be exited.<br>
Problems in flash card template:<br>
            Clicking backpress should take you t

[2016-12-20 17:26] vishwesh3 opened #315 "App crashes"
**Steps to reproduce**
In Match Template If meta data is deleted and draft is accessed it crashes.

![videotogif_2016 12 20_22 35 10](https://cloud.githubusercontent.com/assets/18511177/21360746/305b6878-c707-11e6-996a-e51b99b24d4e.gif)

**Solution**

- On Deletion meta data delete all data.

- When Draft is accessed check for meta data and manage there.

Somewhat similarly issue persists in Compr

[2016-12-20 17:42] opticod commented on #315
If I am not wrong, @freemud, is currently working on this issue on #308

[2016-12-20 22:06] nikhilchowdary commented on #302
It's working with internal storage too.I actually didn't accept permission to access media and storage after installing the app

[2016-12-20 22:06] #302 closed

[2016-12-21 13:47] shikharbhuddi commented on #313
@opticod @free4murad In the HomeActivity, upon pressing the back button twice to exit, the toast with text "Tap back once more to exit." appears twice. Please confirm.

[2016-12-21 13:56] shikharbhuddi opened #316 "Integrating Application Crash Report for Android"
ACRA is a library enabling Android Application to automatically post their crash reports to a report server.
Considering the frequency of issues related to crashes and erroneous behaviour, we can integrate a crash report tool (ACRA, crashlytics, firebase etc.)
@opticod @codingblazer @free4murad Your opinions.

[2016-12-21 14:01] codingblazer commented on #316
@shikharbhuddi I think its already integrated with crashlytics.

[2016-12-21 14:34] shikharbhuddi commented on #316
@codingblazer Thanks! Found it in the manifest file.

[2016-12-21 14:34] #316 closed

[2016-12-21 15:11] nikhilchowdary opened #317 "Delete multiple saved projects and apk's in one go"
Currently we can delete only one saved project and apk at a time.Should I make a PR to delete multiple projects and apk's

[2016-12-21 16:39] opticod commented on #317
We have the option to select all. Doesn't it will help?

[2016-12-21 16:39] #317 closed

[2016-12-21 16:41] opticod commented on #313
@shikharbhuddi, Yes we should display only one time. Shall I assign this to you?

[2016-12-21 16:47] octacode commented on #281
@opticod ^

[2016-12-21 16:49] shikharbhuddi commented on #313
@opticod That'd be great!

[2016-12-21 17:52] sm86 commented on #199
@croozeus @opticod Can I work on this issue stated here.

[2016-12-21 17:53] octacode commented on #199
@sm86 I am already done with the code. If it is approved I will send the PR. thanks

[2016-12-21 18:38] vishwesh3 commented on #311
@opticod as we are in testing phase in the meantime should I start work on this?

[2016-12-21 21:44] opticod commented on #311
@croozeus, your views on this for our next release?

[2016-12-21 21:45] opticod commented on #281
We need to first see, which animation looks better in which case.

So can you list the animations you would like to add with which fragment/activity transitions?

[2016-12-21 21:46] opticod commented on #199
@croozeus, your views on this issue for our next version?

[2016-12-22 08:32] sm86 commented on #303
@opticod  can I work on this issue?

[2016-12-22 08:33] sm86 commented on #286
Can I make a PR for the same?

[2016-12-22 08:35] sm86 commented on #279
Is the issue closed? Can I help in any way

[2016-12-22 08:39] sm86 commented on #247
Can I add a scrollbar for the text field and make it scrollable instead?

[2016-12-22 09:31] sm86 commented on #281
@octacode are you working on this enhancement?

[2016-12-22 10:09] octacode commented on #281
@sm86 yup!

[2016-12-22 11:28] octacode opened #319 "Rate App"
In the Settings fragment we can add a new Preference titled 'Rate Toolkit', which will redirect the user to the PlayStore link of the app.
If this is considered enhancement, I would like to work on it.

[2016-12-22 14:23] opticod commented on #303
@sm86 #304 already created by @free4murad

[2016-12-22 14:24] opticod commented on #279
@sm86, this issues is already assigned.

[2016-12-22 15:28] croozeus commented on #315
If @free4murad is working on this, let's close this issue.

[2016-12-22 15:53] opticod commented on #315
#308, is a vast PR updating many things, its not good to merge it without testing much before the December release. Hence fixing it by small fix via de249ef

[2016-12-22 15:53] #315 closed

[2016-12-22 15:56] opticod commented on #319
Closed via #320

[2016-12-22 15:56] #319 closed

[2016-12-22 15:58] opticod commented on #313
Closed via #318

[2016-12-22 15:58] #313 closed

[2016-12-22 16:04] opticod commented on #306
Closed via 1161827

[2016-12-22 16:04] #306 closed

[2016-12-22 16:05] opticod commented on #303
Closed via #304

[2016-12-22 16:05] #303 closed

[2016-12-22 16:10] croozeus commented on #315
Ok, great

[2016-12-22 17:01] opticod commented on #249
With some fixes and addition of new crashlytics api key, master branch is updated again and contains the latest stable code version. All can download the APK from https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/releases/tag/v2.5.0

Test it and report if any critical issue exists. We are looking forward to launch an update to playstore soon.

[2016-12-22 18:01] free4murad commented on #286
@sm86
I have done the coding part,
Just waiting for the approval of project maintainers.

[2016-12-22 21:24] yadav-rahul opened #323 "Apk not generating in andorid version 6.0.1"
Apk is not generating in my device running on android version `6.0.1`. I am trying creating a simple app but ProgressDialog named `mApkGenerationDialog` is running continuously and I don't know what to do next.
@croozeus @opticod Shall I look into this?

[2016-12-22 21:51] yadav-rahul commented on #214
@opticod Anyone working on this?

[2016-12-23 06:16] octacode commented on #214
@yadav-rahul I am already on it. Plese pick some other issue. ^^

[2016-12-23 11:11] octacode opened #324 "Tell a friend."
@opticod
Like most of the apps we can add a feature of tell a friend in the settings activity. It will launch a shared intent with a suitable message and the playstore link to the app.

**I will work on it**
Thanks

[2016-12-23 12:48] yadav-rahul commented on #323
@opticod I downloaded apk from play store. It didn't ask for any permission.

[2016-12-23 13:37] #323 closed

[2016-12-23 13:43] vishwesh3 commented on #311
@croozeus waiting for your views.

[2016-12-23 15:02] free4murad opened #326 "In MatchTemplate all the options can be same."
![screenshot_20161223-202837](https://cloud.githubusercontent.com/assets/17262180/21456529/bb1d0d9c-c94e-11e6-823a-0787ae84dcc6.png)

I suggest that every option should be checked for duplicates in both lists.

[2016-12-23 15:03] free4murad commented on #326
@opticod

I am making a PR for this.

[2016-12-23 15:32] yadav-rahul opened #328 "Variable naming conventions in Java"
Many classes are having variable names in lower case with hyphens. Shall I mind changing them to `lowerCamelCase` (according to Java Conventions)?

[2016-12-23 15:37] m-murad opened #329 "Issue in ComprehensionTemplate and MatchTemplate."
If the user deletes meta data in Comprehension or Match template the options are still there.

I suggest that if the user delets meta data the options for that meta data are also deleted.
Because if the user wants to edit the meta he can do so by using button in toolbar, but deleting probably means that he wants to delete the whole question.

[2016-12-23 15:37] free4murad commented on #329
@opticod
I am making a PR for this.

[2016-12-23 19:35] octacode commented on #281
@opticod
I have tried the slidein-left and slide out right transitions and for what I have seen is that they aren't really smooth. So I am thinking of using fade-in and fade out cause they are not just smooth but they fit with the very flow of the app.

[2016-12-23 20:36] vishwesh3 opened #331 "Color of toolbar is not set to its default"
**Steps to reproduce**

- Open **Saved Projects**, **Saved APK's** or **My Drafts**.

- By long pressing select any item.

- Open navigation drawer and move to any other fragment.

**Observed Behaviour**
Color to toolbar doesn't changed to its default.

**Expected Behaviour**
On moving to any any other fragment toolbar color should set to its original color.

![videotogif_2016 12 24_01 40 50](http

[2016-12-23 20:55] Prem0707 commented on #331
@opticod  Can u proceed for it?

[2016-12-23 20:57] vishwesh3 commented on #331
@Prem0707 I am working on it and waiting for @opticod review for making PR.

[2016-12-24 06:45] iit2014086 opened #333 "App is crashing in older versions of android(like jelly bean)"
Steps to reproduce:
create a project using match template
run simulator
click on check answers

(or)

generate apk for match template project
install and run it

@opticod if possible see if this is the same in any other versions of android devices too

[2016-12-24 09:34] shikharbhuddi commented on #199
@octacode Are you planning to use CheckBox instead of RadioGroup?

[2016-12-24 09:37] octacode commented on #199
@shikharbhuddi I am using RadioGroup only but the question having multiple correct answers will be marked with an asterisk.

[2016-12-24 09:45] shikharbhuddi opened #335 "One word answer template"
@croozeus @opticod Can we add a template enabling professors to create a simple question answer application? Quiz template allows the users of Quiz app to select one of the multiple options shown. The "one word answer" template shall allow apps containing questions with no multiple options to select the answer from. If not another app, can we add a text field in the Quiz template, allowing profess

[2016-12-24 10:38] shikharbhuddi opened #336 "Number of toasts if two or more options are same in Quiz Template"
**Steps to reproduce:**
1. Create a Quiz Template.
2. Add a new question with more than one same option as answer.

**Expected Behaviour:**
Toast "Two or more options are same." should appear once.

**Observed Behaviour:**
Multiple Toasts "Two or more options are same."
If number of same options = 2, the observed behaviour is the expected behaviour.
If number of same options = 3, the observed beha

[2016-12-25 03:51] croozeus commented on #311
I quite don't understand this scenario - could you explain this better?

[2016-12-25 06:17] vishwesh3 commented on #311
Yes home screen widget.
As of now if we want to create new project, then first open app, click on floating button, select template which we want (3 steps). To minimize this process create a home screen widget that will contain a list of all templates (like we have in template page) and on selecting any template from widget open TemplateEditor activity (1 step).

[2016-12-25 14:05] ani27 opened #337 "App crashes on restoring project from apk"
App crashes when I restore some other APK(not one build from BuildmLearn).

![bug](https://cloud.githubusercontent.com/assets/10931958/21471426/0b69bc6a-cad9-11e6-9781-16de65fd2c53.PNG)

Basically it is due to calling dialog box from a background thread.

[2016-12-25 16:59] sm86 opened #338 "App crashes when creating APK in Quiz when template name already exists"
If the template name already exists, then the app crashes when you try to create APK with an already existing project name.

I will start my work on this issue.

[2016-12-26 17:41] iit2014086 commented on #333
@opticod , any views on this bug? i feel this needs to be included in dec release.

[2016-12-26 21:54] codingblazer commented on #212
@chiragw15 Are you working on this ?

[2016-12-27 05:12] chiragw15 commented on #212
@codingblazer I have completed 70-80% of the work. I was out of town for last 10 days, just came back yesterday. I will resume my work from today.

[2016-12-27 08:25] sm86 commented on #336
Can I work on this issue?

[2016-12-27 08:38] shikharbhuddi commented on #336
@sm86 I am done with the code. Waiting for @opticod to assign it.

[2016-12-27 08:43] codingblazer opened #342 "Timer doesn't stops in Comprehension"
When the timer is running and app goes in background ( phone call or home button pressed) the timer is still running and question screen comes up suddenly when timer finishes (maybe while you are on call).
Also, in Comprehension app, if user presses back to exit while timer is running the same problem happens (questions screen appearing suddenly)

**Expected Behavior** -The timer should pause when

[2016-12-27 10:18] codingblazer opened #344 "Single Row in Match Template Illogical"
In match template, we can create single row item. Since this is Matching, after creating app, user gets nothing to match (one entry on left , one on right) and on will always get full score.
In template editor user should be asked to give atleast 2 items.

I have solved this @opticod. Should I send a PR.

[2016-12-27 12:20] ani27 opened #345 "No Author name appears in Saved Projects and Saved Apk list"
In saved apk and saved projects, the author name is not there. only **Author :** is there

![screenshot_20161227-174529](https://cloud.githubusercontent.com/assets/10931958/21499532/c46ecdde-cc5c-11e6-87e7-188e91c1fb61.png)

I have solved this bug. Can i send a PR?

[2016-12-27 15:02] codingblazer opened #346 "Option can't be unselected in Quiz and Comprehension"
In both quiz and Comprehension, at the end we are showing Correct, Wrong and **UNASWERED**. But in questions, once user has selected any radio button, user can't unselect it (can't choose question to be unanswered).
Fix - When we click on already selected radio button in radio group , it can't be unselected.
So either we can show separate button to clear all selected options OR
use checkbox OR
for

[2016-12-28 09:08] archie94 opened #348 "App crashes while trying to create template for the first time after installation."
After installation when we try to create an app from a template the app crashes after asking for read-write permissions and  we are back at the TemplateActivity.
It works fine from here so the crash is probably due to some storage anomalies.
Found on CyanogenMod v13 (Android 6.0.1)

![permission](https://cloud.githubusercontent.com/assets/12955150/21518059/bb70112c-cd09-11e6-9740-0967d4376707.png)

[2016-12-28 16:34] sm86 commented on #346
Can I work on this issue?

[2016-12-28 16:38] codingblazer commented on #346
@sm86 Actually I have already started work on this. I am waiting for @opticod opinion on that and will resume work then. Thanks anyway.

[2016-12-28 16:39] sm86 opened #349 "Quiz Random options : Enhancement"
The simulator is for self-test. So in the simulator, can we just randomise the order of options in Quiz each time(user restarts) instead of same order always.

[2016-12-28 16:43] sm86 commented on #345
Did you install the app from Play Store? I think you have an older version of the application.

[2016-12-29 05:10] dipakkr opened #350 "Check for Update : Feature"
@opticod @croozeus  As we are heading for release of next update on play store. I think application should have feature to check for update.

**I would like to work on this.**

[2016-12-29 05:44] dipakkr opened #351 "ButterKnife Implementation in code : Enhancement"
Using butterknife in application can make our code lot of cleaner. It will also improve the app performance and make views light weight. I think it would be good if we include this in next update of application.

**Any suggestions**  @croozeus @opticod

[2016-12-29 06:00] octacode commented on #350
@dipakkr Can you please elaborate what this feature is for or how is it going to work?...

[2016-12-29 06:03] dipakkr commented on #350
@octacode simply checking for any update of application on playstore.

[2016-12-29 06:23] sm86 commented on #337
I didn't get it. How did you restore some other APK? Can you provide the steps that lead to this error.

[2016-12-29 06:57] octacode commented on #337
@ani27 Are you using the app from Playstore? Because this bug has already been reported and resolved.

[2016-12-29 08:57] octacode commented on #350
![screenshot_20161229-142411](https://cloud.githubusercontent.com/assets/20819968/21540087/c51a74be-cdd2-11e6-82e1-8cb5cb726b0c.png).
Like in here, **Check for new version**

[2016-12-29 09:18] dipakkr commented on #350
@octacode Yes, but it will be in Settings.I will send a PR soon.

[2016-12-29 18:10] vishwesh3 opened #352 "Add feature: Rearranging items"
Add a feature to rearrange items in each template.
For example:- In Comprehension Template or Quiz template if instructor prepare a quiz, once questions are added there is no way to rearrange questions.

[2016-12-29 18:41] codingblazer commented on #351
@dipakkr

Though butterknife can be good idea it doesn't increase app performance or make views light weight. :-)

[2016-12-29 18:46] opticod commented on #351
@dipakkr , its a really good idea to make the code cleaner and avoid some redundant codes, but from our planned December releases, we are less focusing on using another new library. Adding new libraries also increases APK size. Closing it for now.

[2016-12-29 18:46] #351 closed

[2016-12-29 18:49] opticod commented on #337
If its already been fixed, we can close it for now.

[2016-12-29 18:49] #337 closed

[2016-12-29 19:09] dipakkr commented on #351
@opticod ok. Yes, i also said this for including in any further release.

[2016-12-30 10:40] sm86 commented on #352
Similar to issue #349

[2016-12-30 13:37] opticod commented on #348
@archie94, I tried repeating on my device Moto G3 API 6.0.1, its not crashing even not for the first time. It may be problem with some devices.  You can make a pr for the fix.

[2016-12-30 14:54] opticod commented on #249
Released :tada:
Get it here: https://play.google.com/store/apps/details?id=org.buildmlearn.toolkit

[2016-12-30 14:54] #249 closed

[2016-12-31 02:07] saketkumar95 opened #353 "Remove the callback from the handler when the activity is destroyed"
Remove the callback from the handler when the activity is destroyed, As it will cause a leak when we don't need the handler anymore.
Handler being used during double backpress to exit but not removed. It may cause crash on some devices.

@opticod Can i fix this?

[2016-12-31 02:34] saketkumar95 opened #354 "Add a skip button in How to fragment"
There is no skip button in how to fragment. There are cases like later on the user is explicitly viewing the tutorial, so no need of adding skip button there but there are also cases that user wants to see only some tutorials from all. So in this case he/she have to slide all the tutorials for going to the HomeActivity. This is something weird.

@opticod What do you think about this? If it's okay

[2016-12-31 03:57] codingblazer commented on #354
There is already a skip button for the first time user.

[2016-12-31 04:01] saketkumar95 commented on #354
i know and i have already mentioned for  `How to` fragment there is no skip button.

[2016-12-31 04:04] codingblazer commented on #354
Refer #238.

[2016-12-31 04:11] saketkumar95 commented on #354
@codingblazer Please refer my above comment too. I have given the different case for that. If the user just wants to see 1-2 tutorials he/she have to move all the slides in order to come back to homeActivity. This is irrelevant.

[2016-12-31 04:20] codingblazer commented on #354
@saketkumar95 If you had refered #238 , you would have understood that skip button was not kept in how to deliberately. **Your case** has been already discussed. But go ahead :-)

[2016-12-31 07:25] saketkumar95 commented on #354
I got your point too. It's just we can't assume anything in the app. There are many diiferent kind of users , so it's better to implement that feature.. let @opticod  decide.. If he don't want then i will close the issue. :)

[2016-12-31 10:23] opticod commented on #354
Last time, skip button was not kept in how to deliberately.
Lets take some more views from other contributors. If they want we can add it.

@croozeus Thoughts?

[2016-12-31 10:30] free4murad commented on #354
@saketkumar95
i worked on adding the skip button.
opticod asked me to keep it this way.

[2016-12-31 10:33] croozeus commented on #354
Based on the feedback from some people who tried the app: The tutorial in the beginning is too long. Ideally, I would just like it to have 4 steps. So just show 4 key screens.

The how-to on the other hand can have all the screens and since it's long there's no harm in adding a skip button for people who do not want to see the full tutorial.

Also, I guess a feature that couple of people expected

[2016-12-31 10:37] croozeus commented on #352
I checked #349 and it is not exactly what @vishwesh3  is suggesting. @vishwesh3 this looks like a useful feature to work on. Please pick this up if you want to work on this.

[2016-12-31 10:39] croozeus commented on #349
So a random quiz instead of a sequential quiz?

[2016-12-31 11:01] m-murad opened #355 "In TemplateEditor you we have multiple options to edit or delete items."
For some templates the Edit and Delete options are repeated.
One set is with the item and another is in the toolbar.

@opticod we should remove this dublicacy.

[2016-12-31 11:35] saketkumar95 commented on #354
@opticod So Can i work on this features?

[2016-12-31 13:11] opticod commented on #354
@saketkumar95 , yes you can continue. Assigned

[2016-12-31 13:13] opticod commented on #355
Yes, you should. While creating the PR, attach some screenshots with it.

[2016-12-31 13:16] opticod commented on #353
Yes..
Do u have any memory graph screenshot showing memory leak?

[2016-12-31 13:17] opticod commented on #350
Great u can work on it.

[2016-12-31 13:23] opticod commented on #346
It's really a good feature to have. You can proceed @codingblazer

[2016-12-31 13:27] opticod commented on #345
@ani27 , You can download the latest v2.5.0 from playstore. It has been recently updated. To remain always updated for development purposes, you may follow **bug-fixes** branch.

[2016-12-31 13:27] #345 closed

[2016-12-31 13:29] codingblazer commented on #346
@opticod Which approach you want me to follow. :-)

[2016-12-31 13:30] opticod commented on #344
Ok, @codingblazer sent the PR, my college is going to start again in coming weeks. May get busy in multiple activities, will review them slowly in free time.

[2016-12-31 13:32] codingblazer commented on #344
@opticod Np  :-)

[2016-12-31 13:35] opticod commented on #346
Not checkbox. Add one button, nicely matching positioned in the view. On selecting it, deselect all radio buttons.
Need to add the fix in simulator and in created APKs. sent the other pr in toolkit-templates repo.

[2016-12-31 13:38] opticod commented on #199
@octacode , you can proceed. But before creating the PR, please discuss your complete implementation.

[2016-12-31 13:38] codingblazer commented on #346
Yeah button would be good!!

[2016-12-31 13:42] opticod commented on #214
@octacode, you can proceed.

Can you improve this implementation? like adding some good hint messages or some thing extra?

[2016-12-31 13:42] archie94 opened #356 "Add feature : Option to install generated apk from the dialog window"
Right now when the apk is generated successfully we have no option but to read the message and dismiss it. Then we go on to install the apk from notification drawer. How about having an option to install the generated apk from the dialog window itself?

@croozeus @opticod Your thoughts on this?

[2016-12-31 13:45] opticod commented on #286
Ok, create the PR and also attach some screenshots to it.

[2016-12-31 13:46] opticod commented on #310
@croozeus Can we merge this?

[2016-12-31 13:48] opticod commented on #356
If I am not wrong, we can directly install the created APK by clicking on the notification.

[2016-12-31 13:49] codingblazer opened #357 "Adding Search and Favorites Functionality"
Since amount of items added may be large in following templates, the search functionality and "Adding to Favorites" functionality which can be visited later will be great feature in generated app.

@croozeus @opticod Your views on this. I will like to work on this.

[2016-12-31 13:52] opticod commented on #314
Case Video and Dictation templates: Once the user restarts,on clicking back press, it should not redirect to last fragment. Hence it looks fine to me.

But with flash card template, its an issue, while checking one card, on pressing back, it should redirect to last fragment for that card.

You can continue with fixing the 2nd one.

[2016-12-31 13:53] archie94 commented on #356
Yes, what I am saying is how about installing it directly from the dialog box. That way we do not have to pull down the the notification.
Only a minor improvement, if at all. :sweat_smile:

[2016-12-31 13:53] opticod commented on #324
Ok. you can continue.

[2016-12-31 13:54] opticod commented on #326
Great.!

[2016-12-31 13:54] opticod commented on #328
ok. you can proceed.

[2016-12-31 13:56] opticod commented on #329
No, its not a problem. If user deletes meta data, then the options can exists. Though the project cannot be saved without meta details, and will be asked for it.

[2016-12-31 13:56] opticod commented on #331
Thanks @vishwesh3

[2016-12-31 13:58] opticod commented on #333
Thanks.

[2016-12-31 13:59] opticod commented on #336
@shikharbhuddi , great thanks for reporting this.

[2016-12-31 14:00] vishwesh3 commented on #352
Thanks @croozeus working on this and will send PR soon.

[2016-12-31 14:03] opticod commented on #356
But that will generate redundancy.

[2016-12-31 14:12] free4murad commented on #329
@opticod
What I am trying to say is that if the user wants to edit the meta data he/she has the option to do that.
But deleting metadata probably means that user wants to delete the complete question.
Currently - If the user want to delete the complete question he has to first delete the metadata and then all the options individually.
If this is implemented then it becomes easier for user to delet

[2016-12-31 14:13] free4murad commented on #329
@opticod
just let me know if you find its ok to implement this functionality.

[2016-12-31 14:27] opticod commented on #329
Ok, it got it now. Then, while deleting the meta data, we can ask the user in dialog box, if he also wants to delete the questions.

[2016-12-31 14:39] octacode commented on #324
@opticod, Thanks for assigning me. I have already made a PR regarding the same. Please have a look at it. #325.

[2016-12-31 15:29] iit2014086 commented on #314
@opticod after restart,on clicking back press i didn't mean last fragment, l am saying the very first fragment where the user is asked to choose from the list available.
Like say there are 2 different passages in a dictation project. Now if you choose the 1st and instead of submitting do backpress(not back button), you will again be redirected to first fragment and asked to choose one of the dicta

[2016-12-31 15:30] archie94 commented on #356
Well this is what I had in mind. Note that we will have to remove the notification if user does decide to click on the INSTALL option. Otherwise a notification should remain.

![ezgif com-gif-maker](https://cloud.githubusercontent.com/assets/12955150/21578156/052e3b2e-cf9c-11e6-9267-83fd363d81cd.gif)

Thoughts ?

[2016-12-31 15:32] iit2014086 commented on #333
@opticod I have already sent a pr for this. But let's wait for croozeus's review on #310 . Because if that get's mergerd, this issue wont occur.

[2016-12-31 16:53] sm86 commented on #349
Because we have option to restart the quiz/comprehension. The student can be given a random order in options instead of same order everytime.

[2016-12-31 16:55] sm86 commented on #349
@croozeus waiting for suggestions. if needed, the same can be applied to order of questions too.

[2016-12-31 17:30] sm86 commented on #352
Sorry my mistake. Just understood that.

[2017-01-01 00:27] yadav-rahul opened #358 "Better user experience in Match Template"
As per now, while solving `Match` an user can only shift enteries by one. This is fine in case of short ones but it starts getting very tiring in the case of longer matches. For example, Let's assume there are ten enteries in each column and the answer of first entry correctly matches with last entry of second column. In this case user will have to press _up_ button **TEN** times to pair them corr

[2017-01-01 20:15] free4murad opened #360 "Enhancement in VideoCollectionTemplate."
Once the student views the video, there should be a set of questions related to what the video was about.

@opticod @croozeus What do you think?

[2017-01-02 08:58] croozeus commented on #360
I don't think is a feature for Video collection template, however could be a good idea in itself for a new template.

[2017-01-02 08:58] #360 closed

[2017-01-02 08:59] croozeus commented on #358
Ok, looks useful. Please share the details of implementation - how would this look after you implemented. If it looks good then you can work on this.

[2017-01-02 09:00] croozeus commented on #357
I don't understand this. Are you suggesting changes in the toolkit i.e. template editor or the templates itself.

[2017-01-02 09:01] croozeus commented on #356
Based on the feedback of users, the local notification is not very useful. So we can remove this.

Once the notification is removed we can add the option to install the APK from the dialog.

@archie94 if you can do both, then feel free to pick this up.

[2017-01-02 09:03] codingblazer commented on #357
@croozeus I am suggesting the above for the template i.e. These features will be present in the generated template app. Same will be present in the simulator too.

[2017-01-02 09:17] croozeus commented on #357
Ok, then perhaps this should be in the @BuildmLearn/team-toolkit-mobile-templates  repo. Let's park this - I'll ask for feedback if this is actually required. I'm not leaning towards this though.

[2017-01-02 09:23] codingblazer commented on #357
@croozeus Actually while using the Template app I myself  realized the need for this since for too long list , words may not be in alphabetical order so it becomes really tiresome to find the word you are looking for.

Similarly for practice I thought there are always some words or videos we want to see later or share but right now there no option other than to pen down somewhere.

[2017-01-02 10:58] saketkumar95 commented on #354
@opticod Can you tell me which slides to remove from the beginning??

[2017-01-02 11:20] opticod commented on #354
Remove
1. Make mLearning Apps
2. Load Saved Projects
3. Load Saved APKs
4. Load Saved Drafts
5. Lets Start Page

from beginning only. Add the skip button in How to.And also add the feature suggested by @croozeus . On swiping right, it will enter into app with smooth animation.

[2017-01-02 12:23] saketkumar95 commented on #354
@opticod Got it. Will send the PR tonight.

[2017-01-02 19:25] vishwesh3 opened #364 "Selecting and unselecting items"
There are some minor issues regarding selecting and unselecting items:-

- On long pressing on items of **Flash Template** item is selected but item background color is not changed. Which will confuse user which item is selected.
![videotogif_2017 01 02_20 08 31](https://cloud.githubusercontent.com/assets/18511177/21594898/11907ee6-d14e-11e6-8001-93dfd6ac9a6e.gif)

- When items are selected and ba

[2017-01-02 19:50] dipakkr opened #367 "Adding icons in Settingfragment : UI"
It looks good if we add icons in SettingFragment.
@opticod should i proceed?

![added_drawables](https://cloud.githubusercontent.com/assets/17788569/21595272/41743ab8-d152-11e6-9d7d-df05d835d75f.png)

[2017-01-03 01:48] saketkumar95 commented on #354
@croozeus @opticod I was thinking of adding smooth animation on every new activity is launched. What do you think about this??

[2017-01-03 05:26] codingblazer opened #368 "Adding "Press Back again to exit" in Simulator and Templates"
Just like we added Press Back again to exit in Toolkit, we can add this in simulator and Templates also because there are some templates like comprehension which have timer and needs to have this feature.

[2017-01-03 08:53] free4murad commented on #368
@codingblazer
Adding this feature in simulator and Templates, i don't think that's a good idea. The main purpose of the app is to keep user in the application.

Perhaps you should add this feature to the generated applications.

It's just a suggestion. Lets see what project mentors think.

[2017-01-03 09:02] free4murad opened #369 "Quiz and Comprehention Template bug."
Currently - In quiz and comprehension template if the user has selected option 4 as the correct answer and while editing the question he removes the option text and pressed ok button then option 1 becomes answer.

Expected - If the user removes the option the it should no longer be marked as correct option. App should ask the user to select a new option.

[2017-01-03 09:03] free4murad commented on #369
@opticod @croozeus
I am making a PR.

[2017-01-03 10:42] saketkumar95 opened #370 "Swipe to delete the item"
Currently there is option to delete the item by clicking on delete button. It will be better to delete the item by swiping just like the gmail app. And also adding this as a tutorial in beginning of the app and in How to fragment.

@croozeus @opticod What do you think about this? I will like to work on this if this looks good to you both??

[2017-01-03 10:49] saketkumar95 opened #371 "Adding Trash option in navigation bar."
It would be better if we can add a Trash option which will store all the deleted items and able to restore it again in future. Just like many other apps have. As snackbar appears for just some seconds and if by chance user misses that option too for undoing, then he/she will have the option to restore it from trash??

@croozeus @opticod Any reviews about this?? Can i work on this issue??

[2017-01-03 13:40] codingblazer commented on #368
@free4murad App already has this feature. When I say Templates, I mean generated applications only. And since simulator is just reflection of these generated apps, we should add in it too.

[2017-01-03 14:28] free4murad commented on #355
@opticod
I have made a PR

Requested screen shots  -

![screenshot_20170103-163404](https://cloud.githubusercontent.com/assets/17262180/21610596/edfcc1a0-d1ee-11e6-8972-d7e7c99ed580.png)

![screenshot_20170103-163210](https://cloud.githubusercontent.com/assets/17262180/21610597/f4ecb4c0-d1ee-11e6-91d5-c7302d13a778.png)

[2017-01-03 15:04] ani27 commented on #345
@opticod  I was using the build from master branch at the time I posted this issue. Thanks for letting me know my mistake.

[2017-01-03 16:29] free4murad commented on #368
@codingblazer
I know that the app has this feature (It was me who implemented it).

I agree with you that this feature should be implemented in the generated apps. What I feel is, this feature in simulator might be confusing. Thats why I said it's just a suggestion.

[2017-01-03 17:00] codingblazer commented on #368
@free4murad Ok. Lets see what mentors think about this.

[2017-01-03 18:10] free4murad opened #374 "No of toasts in Comprehension Template."
Bug similar to that reported in issue #336  can be found in Comprehension Template.

@opticod I am creating a PR for this.

[2017-01-03 18:24] free4murad opened #375 "App crashes in comprehension if time entered is 0."
In comprehension template if the user enters time as 0 a toast is shown which says that time cannot be zero.
But if the user enters time as 00 or (0)^* the project is successfully compiled but the generated app crashes.

@opticod @croozeus
I am making a PR for this.

[2017-01-03 18:43] vishwesh3 opened #376 "Enhance adding urls in video collection template"
**Observed Behaviour**
To add items we have to enter link in the dialog.

**Issue**
It is difficult to copy url's and paste in the dialog.

**Solution**
Use **CustomTabs**

**Approach**
 Add a **Browse** button in the dialog. On clicking that open **CustomTabs** with action button **Add this video**. On clicking this action (**Add this video**) video will be added in the template.

![buildmlearn c

[2017-01-03 20:09] m-murad opened #377 "Reducing AKP size."
We can reduce the APK size by setting `shrinkResources` property to true in build.gradle file of the app.
By using this android studio will not include the unused resources and assets that are not referenced to in the code.

[2017-01-03 20:09] free4murad commented on #377
@opticod @croozeus
I am making a PR for this.

[2017-01-03 20:48] yadav-rahul commented on #358
@croozeus My implementation would be as follow:

1. I will be replacing default `ListView` used in populating match enteries in _MatchTemplate_ with `RecyclerView`.
 - Reason for doing this is that `RecyclerView` is more dynamic than `ListView`.
2. With the help of `ItemTouchHelper` class which adds drag & drop support to `RecyclerView`, I will be      adding drag and drop feature to `RecyclerView

[2017-01-03 21:19] yadav-rahul opened #378 "Simulator always runs in portrait mode"
As per now `Simulator` runs in portrait mode only and is independent of device orientation but IMO for testing it should support landscape mode too.

@croozeus @opticod Am I missing something here or It's supposed to be Simulator's default behaviour?

[2017-01-03 21:34] yadav-rahul opened #379 "'About Us' section appear out of Simulator screen"
When an app is running on `Simulator`, Dialog box goes out of the simulator scrren when an user clicks on **About Us** section (present in ToolBar).

![rsz_1device-2017-01-04-025404](https://cloud.githubusercontent.com/assets/15157620/21623667/89dc7ad6-d229-11e6-837a-56ed16203a66.png)

@croozeus @opticod What do you feel about it? Shall I make PR for this?

[2017-01-04 06:20] sm86 opened #380 "App Crash in Saved Projects"
Steps to reproduce:
Long press some project and then click on Select All option and the app crashes.
Ideally, all the items in the list must be selected.
I would like to fix this issue.

[2017-01-04 06:36] sm86 opened #381 "Naming Convention: Enchancement"
After you select any template, you have two text fields, template and author. The user is asked for template name. Instead he should be asked for Project name.
Our app terminology:
Templates are supposed to be themes like Match, Flash Cards.
We also have saved projects section.

[2017-01-04 06:46] free4murad commented on #381
@sm86
I am already working on this as this issue comes under issue #286

[2017-01-04 07:23] sm86 commented on #381
So sorry, I am closing the issue

[2017-01-04 07:23] #381 closed

[2017-01-04 07:32] vishwesh3 commented on #380
@sm86 I can't replicate this issue. Yes before this was issue and was reported in #271 And was resolved in #309. I think your branches are not updated with original ones that's why it is causing problem.

[2017-01-04 07:45] archie94 opened #382 "Add feature : Show recent projects on HomeActivity"
Can we have some recent projects/drafts show up on HomeActivity?

We have Saved Projects and My Drafts section for this purpose but I feel when a user is building on a large application it is more intuitive to have their projects show up on app launch.

So maybe we could have recent 2 saved projects and recent 2 drafts show up on HomeActivity.
@croozeus @opticod your views on this ?

[2017-01-04 07:53] archie94 commented on #375
Hi @free4murad , I tried to reproduce this and yes the project is successfully compiled for time as 0(0)* .
Please note that in my case the generated app did not crash but we directly land on the question(s) section.

[2017-01-04 07:59] free4murad commented on #375
@archie94
The simulator is crashing for time 0^0.
The generate app is not crashing but takes you directly to the questions.

[2017-01-04 09:29] sm86 commented on #380
@vishwesh3, I saw the issue you stated was in Drafts. The drafts is working exactly fine. But I got the issue in Saved Projects. Please let me know if it is also resolved and there is an issue with my branch

[2017-01-04 09:34] vishwesh3 commented on #380
Yes https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/pull/309/files in Saved Projects it is solved.

[2017-01-04 13:33] opticod commented on #226
Closed via #300

[2017-01-04 13:33] #226 closed

[2017-01-06 11:24] codingblazer opened #384 "Major UI issues throughout the project"
I am listing all the UI issues in project -

1. In Dictation Template, on adding a long passage, UI becomes improper as shown -

2. In all templates, if some big text entered, the dialog height sometimes becomes too large that it covers status bar. Dialog box should have max height.

<img src="https://cloud.githubusercontent.com/assets/13872065/21716315/c515ced8-d42f-11e6-9360-f1a28bb92daa.jpeg" h

[2017-01-06 11:41] codingblazer commented on #384
@opticod Please check once if everything is intended or not. I will be sending PR for this.

[2017-01-07 17:33] iit2014086 opened #385 "New template for labelling a diagram"
@opticod @croozeus what do you think about adding a new template for labeling a diagram?

[2017-01-07 21:16] yadav-rahul opened #386 "Additional html content in description of Video"
While editing video in VideoCollection Template, additional html's paragraph opening (`<p>`)  and closing (`</p>`) tag appears in beginning and end of the description.

![giphy](https://cloud.githubusercontent.com/assets/15157620/21745208/03adc12e-d54c-11e6-967f-ead904836a4f.gif)

To avoid this, we can add a method which will trim the description fetched from an url entered.

[2017-01-08 10:55] vishwesh3 commented on #331
Created PR #332 . :)

[2017-01-09 11:20] #324 closed

[2017-01-09 11:31] opticod commented on #355
the design looks little weird. Can you update it with some padding following material design guidelines or some new changes?

[2017-01-09 13:16] #380 closed

[2017-01-10 17:59] vishwesh3 commented on #352
Created PR #383 Please have a look.

[2017-01-13 13:55] opticod commented on #331
Closed via #332

[2017-01-13 13:55] #331 closed

[2017-01-13 14:00] opticod commented on #333
@iit2014086, Merged #334 for time-being. For multiple match the followings as mentioned in #310, Lets wait for @croozeus 's review.

[2017-01-13 14:00] #333 closed

[2017-01-13 14:00] yadav-rahul commented on #386
@opticod @croozeus What are your views on it? Shall I make PR for this?

[2017-01-13 14:08] opticod commented on #314
@iit2014086 , yea my mistake. I checked it. Its not showing the very first fragment.

[2017-01-13 14:41] opticod commented on #326
Closed via #327

[2017-01-13 14:41] #326 closed

[2017-01-13 19:17] taeven opened #391 "Delete confirmation dialogue"
In setting, the app doesn't ask confirmation to delete temporary files. I think we should add an alert dialogue for that. I am done with code, making PR for that.
![screenshot_20170114-004251](https://cloud.githubusercontent.com/assets/17789028/21942388/ecd68a70-d9f2-11e6-8c66-79b433b41b87.png)
![screenshot_20170114-004256](https://cloud.githubusercontent.com/assets/17789028/21942389/ece3672c-d9f2

[2017-01-13 19:30] free4murad commented on #329
@opticod
I don't think adding a dialog box to delete metadata is a good option.
There are following cases that can arise
1. User wants to edit metadata. (He can do it using edit buttons provided.)
2. User wants to delete the question. (He has to delete all options and then metadata.)

Letting the user just delete the metadata is illogical. He can edit it.
Deleting metadata means he wants to delete

[2017-01-14 09:35] opticod commented on #314
@iit2014086, this issue is only with simulator or also with the created APKs?

[2017-01-14 10:49] opticod commented on #391
BTW, don't you think the temporary files are useless? So no need of showing confirmation messages. If user deletes it, then it hardly make any problem.

[2017-01-14 10:49] #391 closed

[2017-01-14 13:27] iit2014086 commented on #314
@opticod the issue is with the created APK's also. Shall I send a pr to toolkit-mobile-templates too?

[2017-01-14 14:07] opticod commented on #314
Yaa. First u create a PR there, and wait for it to get reviewed and merged. Then with those changes and updated master branch of Toolkit-mobile-templates, create those updated APKs and add it to PR targeted here.

[2017-01-14 14:20] iit2014086 commented on #314
Okay. I will send a pr there ;)

[2017-01-14 17:32] taeven commented on #364
can i work on that??

[2017-01-14 17:57] vishwesh3 commented on #364
@taeven thanks for your interest. I am waiting for @opticod review before making PR.

[2017-01-15 05:17] taeven commented on #364
okay!

[2017-01-15 10:09] anuradhagupta345 commented on #385
@opticod @croozeus I would like to work on this issue!

[2017-01-15 10:16] anuradhagupta345 commented on #382
@opticod @croozeus IMO It would be a good idea. I am working on this.

[2017-01-15 10:18] anuradhagupta345 commented on #379
@yadav-rahul What is your progress in this issue?

[2017-01-15 10:24] yadav-rahul commented on #376
@opticod @croozeus I would like to work on this. Shall I proceed?

[2017-01-15 10:25] anuradhagupta345 commented on #370
@saketkumar95 LGTM! @opticod What are your view on it?

[2017-01-15 10:26] anuradhagupta345 commented on #358
@opticod @croozeus What do you think about this?

[2017-01-15 15:08] iit2014086 commented on #385
@anuradhagupta345 i want to work on this issue, I am waiting for opticod's approval.

[2017-01-15 15:42] anuradhagupta345 commented on #385
@iit2014086 OK.

[2017-01-16 16:21] saketkumar95 commented on #354
@opticod Waiting for your reply. My work is done , just the smooth animation part on every new activity is remaining. what do you think about that?

[2017-01-16 16:22] saketkumar95 commented on #371
@opticod Any suggestions?

[2017-01-16 17:09] opticod commented on #354
@saketkumar95, @octacode is working on the animation part in #281.

[2017-01-16 17:12] opticod commented on #371
@saketkumar95, Looks interesting but many items are deleted using the snackbar feature. So what is your proposed solution?

[2017-01-16 17:12] saketkumar95 commented on #354
@octacode Can i add the animation part along with this? If you allow? :)

[2017-01-16 17:14] opticod commented on #386
@yadav-rahul, if you remove all of it, then the text will not be formatted in the output. We have added this feature so that user can do some text-formatting.

[2017-01-16 17:15] saketkumar95 commented on #371
@opticod we can have a toast that the item is moved to trash and from trash we can restore it or delete it permanently.

[2017-01-16 17:16] saketkumar95 commented on #370
@opticod Any suggestions?

[2017-01-16 17:16] octacode commented on #354
@saketkumar95.....yaa sure

[2017-01-16 17:17] vishwesh3 commented on #376
Thanks @yadav-rahul for your interest in this. I have done some part of it.

@croozeus @opticod waiting for your views on this. Shall I continue work on this and create PR?

[2017-01-16 17:19] opticod commented on #385
@iit2014086 @anuradhagupta345 , we already have an app regarding Labelling the diagram. check here: https://buildmlearn.org/2015/09/07/google-summer-of-code-2015-student-projects/ It can be good enhancement, if we can create that app from our toolkit. Similarly we can include other buildmLearn apps into the toolkit.

@croozeus , Including the Labelling the diagram App into toolkit seems to be a go

[2017-01-16 17:22] saketkumar95 commented on #354
@octacode Thanks :) @opticod I'll be adding the animation part too in the same PR. :)

[2017-01-16 17:22] opticod commented on #371
I got it, I am asking about the solution for different cases. Like, I have removed an video collection item. After closing the template editor, now, what will happen If I try to restore it. Please share your views in all such corner case.

[2017-01-16 17:24] opticod commented on #379
@yadav-rahul, yes the dialog box should look like as if it is inside the simulator.

[2017-01-16 17:26] yadav-rahul commented on #386
@opticod OK. I misunderstood it for additional content. Shall I close this issue then?

[2017-01-16 17:29] yadav-rahul commented on #379
@opticod Thanks for your review. I will make PR for this soon :)

[2017-01-16 17:49] saketkumar95 commented on #371
@opticod i thought of working it like a real trash option works in systems. Like we will keep check of  activity and position the item is added to trash. After restore it will add to that position and increment the existing item postion with 1. It will work for video collection too.

Alternative method is also that we can get all the data and position along with the activity with that item deleted

[2017-01-17 08:25] nikhilchowdary opened #395 "Add google login and save projects in google drive"
Currently the app has only local database.
Adding google account login functionality for the app makes the user to upload saved projects and apks into google cloud and retrieve them on different mobiles

[2017-01-17 08:50] ShailyTyagi commented on #395
I am going to work on this issue

[2017-01-17 09:21] nikhilchowdary commented on #395
@ShailyTyagi  I want to work on this issue. Waiting for opticod's confirmation. Please find some other issue

[2017-01-17 13:18] akmittal006 opened #396 "Change in UI Navigation"
I would like to propose change in ui navigation.
As of now home screen does nothing but show simple screen with "+" fab at bottom.
Instead of idle screen i would like to add **tabs based navigation** for
1.saved APKs
2.drafts
3.Saved projects

As this are most used options in nav drawer.
@opticod  this is not much of a issue, but it will definitely improve user experience.

[2017-01-17 14:29] ShailyTyagi commented on #395
Okay!

[2017-01-17 16:15] octacode commented on #281
@opticod
@croozeus
 As I have noticed in apps like Whatsapp, there's a common screen transition for all the intent changes.
I too want to do the same to the Toolkit. I have tried the default android transitions provided and I find fade_in and fade_out really consistent both in terms of performance and visuality. So I am making the PR for the same.
Any Suggestions?

[2017-01-18 18:36] yadav-rahul commented on #378
@opticod Please share your view on this?

[2017-01-19 18:49] opticod commented on #338
Closed via #341

[2017-01-19 18:49] #338 closed

[2017-01-19 18:53] opticod commented on #328
Closed via #359

[2017-01-19 18:53] #328 closed

[2017-01-20 08:57] nikhilchowdary opened #400 "problem with toasts queue in settings fragment"
If the user clicks "Rate Toolkit" button in settings when network is unavailable repeatedly,Then  the number of toasts in the queue increases .If user then clicks  the button "Delete Temporary Files" then the toast displaying ' whether the temporary files were deleted or not ' has to wait until all the  toasts  that are created before  are displayed

![ezgif com-video-to-gif](https://cloud.githubu

[2017-01-20 15:25] #386 closed

[2017-01-20 18:10] codingblazer opened #403 "Reformatting the Code"
Currently, most of files in our project are not formatted properly as per coding guidelines.
@opticod Should I send PR for this ?

[2017-01-21 13:45] nikhilchowdary opened #404 "application choser dialog opens multiple times for tell a friend and restore project"
@opticod @croozeus
In settings fragment there are two problems:

1 . If the user by mistake clicks "Tell a friend" or "Restore Project" twice.The choser dialog for selecting the application opens twice.This makes the user to close both the dialogs if he doesn't want to choose anything

![tellafriend](https://cloud.githubusercontent.com/assets/16875030/22174641/8e051b20-e009-11e6-9939-771cf51fda98.

[2017-01-21 17:14] saketkumar95 commented on #403
Already asked here https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/pull/361

[2017-01-21 17:26] arp95 opened #405 "Improvement in the tablet layout"
Using grid layout instead of linear layout when app viewed on tablets for particular section of the app like while displaying of the templates etc.
Can i work on this?

[2017-01-21 17:43] opticod commented on #403
Most of the files are formatted. Some recent addition of new codes from new contributors may had slightly unformatted it. Will reformat them while merging into master. Closing it now.

[2017-01-21 17:43] #403 closed

[2017-01-22 12:24] archie94 commented on #382
Hey @anuradhagupta345 I have actually started working on this and waiting for comments from maintainers. I will let you know if I need any help. Thanks!

[2017-01-23 13:15] anuradhagupta345 commented on #405
@opticod Shall I send PR for this?

[2017-01-23 13:15] anuradhagupta345 commented on #396
@opticod Shall I send PR for this?

[2017-01-23 13:16] arp95 commented on #405
@anuradhagupta345 im working on this. will send a pr in a day.

[2017-01-23 14:05] akmittal006 commented on #396
@anuradhagupta345 sorry anuradha m working on it , waiting for @opticod  's confirmation.

[2017-01-24 10:49] opticod commented on #350
Closed via #365

[2017-01-24 10:49] #350 closed

[2017-01-24 10:53] opticod commented on #346
Closed via #366

[2017-01-24 10:53] #346 closed

[2017-01-24 11:04] opticod commented on #356
Closed via #372

[2017-01-24 14:52] iit2014086 commented on #385
@opticod @croozeus shall I provide any wireframes for this task?

[2017-01-29 14:18] opticod commented on #352
Closed via #383

[2017-01-29 14:18] #352 closed

[2017-01-29 14:21] opticod commented on #356
@archie94, Reopening, Please redirect your PR to bug-fixes branch.
You can take help from your last PR: https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/pull/372/files

[2017-01-29 14:23] anuradhagupta345 commented on #405
@arp95 Can you update your progress on this issue?

[2017-01-29 14:24] anuradhagupta345 commented on #396
@akmittal006 Can you update your progress on this one?

[2017-01-29 14:25] anuradhagupta345 commented on #395
@nikhilchowdary Update your progress on this one!

[2017-01-30 02:26] arp95 commented on #405
@anuradhagupta345
have already submitted the pr for the same.

[2017-01-31 15:24] opticod commented on #356
Closed via #408

[2017-01-31 15:24] #356 closed

[2017-01-31 16:00] opticod commented on #375
Closed via #389

[2017-01-31 16:00] #375 closed

[2017-02-01 04:58] singhania1408 commented on #395
Is this issue resolved else i want to work on this

[2017-02-01 21:39] nikhilchowdary commented on #395
@singhania1408 @anuradhagupta345  I am still working on this  issue and waiting for reply from maintainers.I will let you know if I need any help

[2017-02-02 06:05] opticod commented on #374
Closed via #390

[2017-02-02 06:05] #374 closed

[2017-02-02 06:07] opticod commented on #188
Not the current issue, will be opened once other localisation supports are added.

[2017-02-02 06:07] #188 closed

[2017-02-02 06:12] opticod commented on #199
@octacode, check box will be good for multiple correct questions and radio buttons for single correct questions. Marking asterisk will also help, hence add it to editor, simulator and created apks. You can proceed. Please also create PR to templates repo for the same.

[2017-02-02 06:12] opticod commented on #212
@chiragw15, Is there any updates regarding this?

[2017-02-02 06:15] opticod commented on #247
Adding scrollbar in card layout is not a good idea. Adding another UI for smaller screens looks a possible solution now.

[2017-02-02 06:16] opticod commented on #281
Thanks @octacode, our team will review this and merge it shortly.

[2017-02-02 06:19] opticod commented on #286
@free4murad "Template name" is fine, what are you suggesting for "meta details"?
Hints can be changed from "Name" to "Question"

[2017-02-02 06:27] opticod commented on #329
@free4murad, if we don't keep the dialog box, then accidentally an user can loose his/ her all questions, It will be good to confirm from the user before deleting all the questions at a go.

[2017-02-02 08:48] octacode commented on #199
@opticod, yeah this implementation sounds better. I will make the changes you have suggested and will send a PR.

[2017-02-02 18:55] chiragw15 commented on #212
@opticod Yup, I tried this with two different approaches and finally succeeded with one. I have done almost everything. Just a little bit of tweaks are left. Will test the app on various devices to check everything is working fine or not. Will send a PR after making sure everything is working fine and the app is not crashing.

[2017-02-05 18:06] tejavojjala opened #410 "Add espresso testing for all templates"
@opticod  currently only comprehension template has a code to do automated testing which too have a few bugs. We can extend the testing for all templates. Shall I send a pr for this.

[2017-02-06 22:13] DravitLochan opened #412 "next button on first screen after installation"
For the current scenario, when a user downloads the app, or when data is cleared, the first activity asks the user to enter the name. but there is no next button here. the only way to proceed from here is to click on the tick from the keyboard. so I propose to give a next button which takes the user to the tutorial sliders and hence no change in the flow.
 I'd like to add this thing.

[2017-02-07 13:36] opticod commented on #336
@shikharbhuddi, Are u on this?

[2017-02-07 13:37] opticod commented on #348
@archie94 , Is there any process in this issue?

[2017-02-07 13:39] opticod commented on #344
Closed via #363

[2017-02-07 13:39] #344 closed

[2017-02-07 13:41] opticod commented on #355
@free4murad, is there update on this?

[2017-02-07 13:43] opticod commented on #354
Is there update on this? @saketkumar95, left the animation part for now.

[2017-02-07 14:10] saketkumar commented on #354
I have done the animation part. What to do now? Was busy in acadmics. What to do now? Can i send the PR for animation part too?

[2017-02-07 14:37] m-murad commented on #336
@opticod
If @shikharbhuddi is not working on it should i send a PR?

[2017-02-07 14:40] m-murad commented on #355
@opticod
Sorry i missed this.
Will start woking on it and send a PR in a day or two.

[2017-02-08 10:56] opticod commented on #336
Closed via #373

[2017-02-08 10:56] #336 closed

[2017-02-08 11:00] opticod commented on #354
@saketkumar95, It looks like @octacode, already made a PR #398 adding fading transition. Once its merged you can make further improvements.

[2017-02-08 11:05] opticod commented on #358
@yadav-rahul @anuradhagupta345 , It looks useful. You can proceed.

[2017-02-08 11:07] opticod commented on #364
@vishwesh3, Your idea looks fine. You can proceed.

[2017-02-08 11:23] opticod commented on #368
@codingblazer You can proceed adding both for the APKs and for the simulator. Also make a separate PR to templates-toolkit repo.
@free4murad, If we add any feature in created APKs, then our simulators should also reflect the same. So looks like adding it.

[2017-02-08 11:24] opticod commented on #369
Thanks @free4murad , for reporting this. You can proceed to creating PR.

[2017-02-08 14:56] codingblazer commented on #368
@opticod Yeah sure

[2017-02-08 23:00] m-murad commented on #355
![screenshot_20170209-042716](https://cloud.githubusercontent.com/assets/17262180/22761388/77e023b4-ee80-11e6-8ebb-c8ad1fe320b5.png)
![screenshot_20170209-042741](https://cloud.githubusercontent.com/assets/17262180/22761390/77e40290-ee80-11e6-8754-932ae5f283b7.png)
![screenshot_20170209-042721](https://cloud.githubusercontent.com/assets/17262180/22761389/77e24e82-ee80-11e6-9eb9-6495fd9cdc1d.png)

[2017-02-09 15:16] shikharbhuddi opened #414 "Same matching topics in Match Template"
**Steps to reproduce:**

Create a Match Template.
Add a matching topic.
Add the same topic (with same values of Strings) again.

**Expected Behaviour:**
Toast "Two entries cannot be same." should appear and the matching topic should not be added. Even after editing, the check should be done.

![g_20170209_2036026](https://cloud.githubusercontent.com/assets/13435742/22789324/a509ee3c-ef08-11e6-9664

[2017-02-09 15:19] shikharbhuddi commented on #414
@opticod Please look into it and assign. I can send a PR then.

[2017-02-09 15:20] m-murad commented on #414
@shikharbhuddi
I have solved this issue earlier
Please build the app using latest code.

[2017-02-09 15:21] m-murad commented on #414
@shikharbhuddi
Solved via PR #327

[2017-02-09 15:42] shikharbhuddi commented on #414
@free4murad Thanks!

[2017-02-09 15:43] #414 closed, assigned to nobody

[2017-02-09 16:22] opticod commented on #414
@shikharbhuddi Latest codes are merged into bug-fixes branch, so for development purpose refer it.

[2017-02-09 19:00] shikharbhuddi commented on #414
@opticod Thanks!

[2017-02-09 22:18] tejavojjala opened #416 "OutOfMemoryError in Flash Template"
@opticod
In few phones while adding a new item if we try to upload an image with high memory the application is crashing when we attempt to decode input stream into bitmap.

**Error**:
`
02-10 03:41:40.597 21964-21964/org.buildmlearn.toolkit E/AndroidRuntime: FATAL EXCEPTION: main
                                                                         java.lang.OutOfMemoryError

[2017-02-09 22:45] tejavojjala commented on #416
I have sent a pr for this here #417

[2017-02-10 07:08] opticod commented on #281
Closed via #398

[2017-02-10 07:08] #281 closed

[2017-02-10 07:31] opticod commented on #400
Closed via #401

[2017-02-10 07:31] #400 closed

[2017-02-10 07:37] rishsethia opened #418 "UI Issues in small screen"
In small screens , in the template selection activity , the template cardview doesn't render text properly on smaller devices (< 5 inches).
![screenshot_2017-02-10-12-41-02-100_org buildmlearn toolkit](https://cloud.githubusercontent.com/assets/11053890/22818165/a987e160-ef91-11e6-92ab-2d016d747f6b.png)

![screenshot_2017-02-10-12-40-43-796_org buildmlearn toolkit](https://cloud.githubusercontent.

[2017-02-10 07:42] codingblazer commented on #418
@rishsethia Making layout relative will not solve the problem for all screen sizes. You will also need to define different screen size buckets and change dimensions for each size bucket proportionally.

[2017-02-10 07:43] rishsethia commented on #418
Okay @codingblazer I'll do that ! Should I go ahead with it then ?

[2017-02-10 07:44] codingblazer commented on #418
@rishsethia I think you should. But proceed once @opticod approve.

[2017-02-10 12:47] opticod commented on #418
@rishsethia We have some discussions in https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/issues/247 . But not sure if anyone already had started working, if not, feel free to assign it to you.

@vishwesh3 @sm86 , Are you working on #247?

[2017-02-10 18:44] meghalagrawal opened #422 "Dialog Don't move up after Keyboard Up."
Alert Dialog items have Scrollbars but still it does not move up after keyboard is up while Editing Items or Adding Items in Template.

I have Resolved this issue in Pull Request #421

[2017-02-11 21:52] vibhav16 opened #424 "Select language in settings"
Add "select language " card preference in settings.
User should be able to select his own system language from settings.
Shall I start working on it?

[2017-02-13 12:42] m-murad opened #425 "Template is lost if user closes app."
While editing a template if the user closes the app by pressing the recent button the template is deleted.

@opticod
Should I make a PR

[2017-02-13 19:20] opticod commented on #314
Closed via #394

[2017-02-13 19:20] #314 closed

[2017-02-13 19:24] opticod commented on #354
You can make the PR, and also add some natural material animations. Also follow what croozeus had suggested,

[2017-02-14 19:20] tejavojjala opened #427 "Restore project from apk"
@opticod
Currently if a user deletes a project after saving apk there is no option to for him to restore the project, make changes and save apk again. I will send a pr for this.

P.S. he can restore from settings fragment. File explorer was not shown in intent chooser in my device and hence i raised the issue. However, I feel user may find it easy to restore project from savedapkfragment itself.

[2017-02-17 13:13] archie94 commented on #348
@opticod Extremely sorry for such a late reply! Last few weeks have been busy for me.

Yes, this problem is definitely a regular in CM, not so in other devices running OxygenOS or any version of android. I was thinking of asking for permissions right after the tutorial instead of project creation. Yet to test this and will definitely make a pr after this weekend!

[2017-02-17 14:25] opticod commented on #348
@archie94 Cool. U mean by adding it in template list ? Can you analyse a bit, why its showing error for CM devices but not for other devices ?

[2017-02-18 21:49] doomers opened #429 "UI issues while Searching"
While Searching the EditText is not taking up the whole Space in the Toolbar

Screenshots:
![screenshot_20170219-030504](https://cloud.githubusercontent.com/assets/11586392/23097111/8a27c3dc-f651-11e6-99b3-6ed49c974615.png)
![screenshot_20170219-030510](https://cloud.githubusercontent.com/assets/11586392/23097110/8a278de0-f651-11e6-834a-f36c246eb49e.png)

@opticod  @croozeus shall I send a PR for

[2017-02-18 22:33] doomers opened #430 "Update gradle version to 2.2.3"
Update Gradle version from 2.1.2 to 2.2.3 to make instant run faster

shall I send a PR for this?

[2017-02-20 20:24] DravitLochan commented on #412
@opticod please look into this

[2017-02-20 20:29] opticod commented on #412
@DravitLochan, +1 You can proceed. Once you are done with the PR, add a screenshot to it for review.

[2017-02-20 21:13] DravitLochan commented on #412
I have added functionality to the button. please review the position for the button. @opticod
We can also use an ImageButton pointing in the right direction.
cheers!
![screenshot_20170221-024111](https://cloud.githubusercontent.com/assets/14837478/23141952/52b2732c-f7df-11e6-9a3a-1e794bafd949.png)

[2017-02-21 07:47] opticod commented on #412
Current position odd, try putting it below the edit-text and aligned centre.

[2017-02-21 07:47] opticod commented on #412
Try to make it transparent or some other color combination, which suits the best

[2017-02-21 08:01] DravitLochan commented on #412
How about this?
![screenshot_20170221-133011](https://cloud.githubusercontent.com/assets/14837478/23158554/a74b2cf6-f845-11e6-92e8-081b7705c149.png)

[2017-02-21 12:54] DravitLochan commented on #412
@opticod  what do you propose?

[2017-02-21 16:18] opticod commented on #412
Did you tried with keeping it transparent and same formatting as the `Skip button `in 'How to' or tutorial fragments ? If not, then please try it once, as its good to have the design of the buttons consistent throughout.

[2017-02-21 16:35] DravitLochan commented on #412
damn. that looks pretty cool in fact.
what do you say?
![screenshot_20170221-220416](https://cloud.githubusercontent.com/assets/14837478/23174236/bd2687be-f881-11e6-81a4-05487849f4ac.png)

[2017-02-21 16:37] DravitLochan commented on #412
@opticod my last pr was about reducing the gradle time. I think it is still not merged. please give it a merge so that I can pr this. thanks :)

[2017-02-21 18:26] doomers commented on #429
@opticod please have a look on this

[2017-02-22 13:33] DravitLochan commented on #412
@opticod please review and merge the pr for gradle build so that I can proceed with creating a new pr for this issue. The work is done!

[2017-02-22 16:48] opticod commented on #412
My semester exam is going on, so its hard to review and merge now. Our team will shortly merge it after reviewing. Thanks for your patience.

You can work simultaneously in multiple branch and can create PRs from them.

[2017-02-22 16:54] DravitLochan commented on #412
sorry! i'll wait for the team to approve. Just as a matter of fact, I have also made that button and following it's screenshot is atached in the issue. i'll pull it under different request. Sorry once again! :)

[2017-02-22 17:17] codingblazer commented on #429
@doomers
I think its intentionally kept for other toolbar buttons like Delete, Share etc. Have a look at this -

<img src="https://cloud.githubusercontent.com/assets/13872065/23223202/671212ba-f950-11e6-995c-ef54c4ebe9c6.jpeg" height="400" width="200">

But if you can do it before the search is performed.

[2017-02-24 09:45] doomers commented on #429
Nopes @codingblazer consider the Screenshots

![screenshot_20170224-150948](https://cloud.githubusercontent.com/assets/11586392/23298448/c8203e34-faa3-11e6-9077-6a77466bdfd6.png)

![screenshot_20170224-150953](https://cloud.githubusercontent.com/assets/11586392/23298447/c81f1c66-faa3-11e6-9615-2fa14dc896b6.png)

Consider Screenshot 2, Share, Delete and all that buttons are even taking more space t

[2017-02-26 11:42] opticod commented on #335
Looks a nice feature to add in the Quiz. So how are you going to add the single question option in the quiz template? If your implementation looks good, we can add this one. Thanks.

@croozeus

[2017-02-26 11:46] opticod commented on #355
Thanks @free4murad,you can proceed making the PR.

[2017-02-26 11:55] opticod commented on #370
@saketkumar95 @anuradhagupta345 , Yea, this feature looks great. You can proceed. :+1:

@saketkumar95, It will be great if you please complete the already assigned Issues or PRs before this one.  Thanks.

[2017-02-26 11:57] opticod commented on #371
Thanks for the explanation. You can proceed . @saketkumar95

[2017-02-26 12:01] opticod commented on #376
@vishwesh3, Its a real issue. We should fix this. Lets discuss the implementation a bit and choose the best one:

What will be next step after you click the "Add this video" ?

[2017-02-26 12:02] opticod commented on #377
Thanks, you can add it . @free4murad

[2017-02-26 12:03] opticod commented on #378
Definitely, you can add the landscape mode too. @yadav-rahul You can proceed

[2017-02-26 12:06] opticod commented on #382
@archie94 @anuradhagupta345 . Whoever fells good can proceed. Its good to add it. I would love to make it  optional too. Next step is simple, just add a checkbox in app settings fragment  preference (checked to show; unchecked to hide)

[2017-02-26 12:15] opticod commented on #384
Thanks @codingblazer, you can proceed, just a little comment
1. :+1:
2.  But you need to make it flexible too. Bcoz, different sizes may look different in different devices, different sizes, portrait or landscape, tablets , dpis...
3.  :+1:
4. :+1:
5. :+1:
6.  It can be kept either way. Lets not make the change at this moment.
7. :+1:
8. :+1:
9. :+1:

[2017-02-26 12:20] opticod commented on #385
@tejavojjala, it's a long task, so we will be taking some feed backs and we will be informing you all. We can also add it as one of the GSoC tasks. Lets see.

[2017-02-26 12:21] nikhilchowdary opened #434 "issue with Drafts modified time"
@opticod @croozeus

In drafts if we click a saved draft,then close the draft without modifying anything,even then the modified time of that draft gets updated .
Consider if we are searching for a draft.In this process If we open and close all drafts ,the time of every draft gets set to current time and we wont be able to figure out original modified time of any other draft.
I will fix this and sen

[2017-02-26 12:23] opticod commented on #395
Its a nice feature to have it. Thanks for reporting this.

[2017-02-26 12:28] nikhilchowdary commented on #395
I have already sent a PR for this.Please review and merge it

[2017-02-26 13:39] opticod commented on #396
If we are adding tabs based navigation, then need to remove the navigation bar menu. Need to add the Settings in status menu bar...... Please provide some rough implementation, how you will be handling all these. Thanks.

[2017-02-26 13:40] opticod commented on #404
Thanks.. @nikhilchowdary

[2017-02-26 13:40] opticod commented on #405
Thanks

[2017-02-26 13:42] opticod commented on #410
It will be very helpful if you kindly fix the existing espresso test so that it runs successfully in travis-ci automated test. Last time, I tried adding it to all, but the travis-ci test was failing. Thanks. You can add it.

[2017-02-26 13:43] opticod commented on #416
Thanks

[2017-02-26 13:44] opticod commented on #422
Thanks

[2017-02-26 13:45] opticod commented on #424
Ok. You can proceed. Make sure, you show only the device supported languages.

[2017-02-26 13:46] opticod commented on #425
Thanks, you can proceed.

[2017-02-26 13:46] opticod commented on #427
Definitely. I agree. Thanks.

[2017-02-26 13:50] opticod commented on #430
Along with that, upgrade all dependencies and make sure Travis-ci supports it.

[2017-02-26 13:54] opticod commented on #348
@archie94 . It will be best if you add the permission before the Main Activity(Home fragment) starts.

[2017-02-26 14:27] tejavojjala commented on #410
@opticod ok, I will send a pr asap.

[2017-02-26 14:59] archie94 commented on #348
@opticod The problem does not appear to be the place where the permission is asked. You see when permission in granted we are explicitly creating a new instance of Toolkit application.

At least in CM the new instance gives ` java.lang.NullPointerException: Attempt to invoke virtual method 'java.io.File android.content.Context.getFilesDir()' on a null object reference`. The `Application` instance

[2017-02-26 15:37] jainkuniya commented on #376
We will add menu item with

`intentBuilder.addMenuItem(label, pendingIntent);`

where `label` is **Add this video**

and `pendingIntent` is a `intent` to `BroadcastReceiver`.

This `BroadcastReceiver`, `onReceive` will get url of the video.

So when **Add this video** is clicked `Receiver` will be called and we can get the url of the video through `intent`, then we can interact between receiver an

[2017-02-26 15:39] opticod commented on #348
@archie94  Cool, thats'why i asked for a depth analysis of the problem. Let us know once you are done.

[2017-02-26 15:49] opticod commented on #429
It will be good if we make all(share, delete, select all) of them show if space is available, else hide it.

[2017-02-26 15:51] opticod commented on #434
Ok. thanks.

[2017-02-26 15:56] opticod commented on #405
Closed via #409

[2017-02-26 15:56] #405 closed

[2017-02-26 16:00] saketkumar commented on #370
@opticod Yeah , sure. I'm having my mid terms. I will do it soon. :)

[2017-02-26 16:02] archie94 commented on #382
@opticod Sure thing ! :+1:

[2017-02-26 19:40] nikhilchowdary opened #437 "issue identifying draft template type"
@opticod
In Drafts  : Template type of every draft is not shown.So we cannot identify which template category a draft belongs to.
Solution:

Every draft icon text is set to "D".Let us set the:

ComprehensionTemplate draft icon text to "C"
QuizTemplate draft icon  text to "Q"
SpellingTemplate draft icon  text to "S"
FlashCardsTemplate draft icon  text to "F"
InfoTemplate draft icon  text to "I"
Vid

[2017-02-27 09:56] opticod opened #440 "App is crashing for mobile layouts"

[2017-02-27 10:00] opticod commented on #437
@nikhilchowdary , implementation should remain consistent throughout the app.. so we can make the above changes for all the nav frags items  ( saved proj, saved apks, my drafts)

[2017-02-27 10:08] opticod commented on #440
Closed via #441

[2017-02-27 10:08] #440 closed, assigned to nobody

[2017-03-01 08:49] opticod commented on #412
Closed via #433 & 	2c79128

[2017-03-01 08:49] #412 closed, assigned to DravitLochan

[2017-03-06 18:40] opticod commented on #404
Closed via #406

[2017-03-06 18:40] #404 closed

[2017-03-10 13:52] opticod commented on #369
Closed via #413

[2017-03-10 13:52] #369 closed

[2017-03-11 08:11] akmittal006 commented on #396
@opticod  everything will remain same basically same, i will just pull out
1.saved APKs
2.drafts
3.Saved projects

from navigation drawer to tabs. I think navigation drawer still works fine with tabs.

So user can just swipe between these fragments instead of pulling out nav drawer everytime.

[2017-03-11 17:45] opticod commented on #396
@akmittal006  Got u. That will be cool. You can work on this.

Can you please make some changes in your existing PR https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/pull/402  as mentioned there, so that I can merge it ?

[2017-03-12 04:08] akmittal006 commented on #396
@opticod sorry for the delay , I had my midterms. I will change it soon.

[2017-03-14 13:25] akmittal006 commented on #396
@opticod  After making changes, it looks like this.
![ezgif-3-9b194ddeef](https://cloud.githubusercontent.com/assets/8525715/23902571/a362b962-08e7-11e7-917f-466362779ab3.gif)

[2017-03-15 07:32] opticod commented on #396
@akmittal006 Looks nice. We need to include the welcome message somewhere in the app....may be in about section.

@croozeus , can we work on this?

[2017-03-15 07:37] opticod opened #442 "APK generated app's colour change"
Inspired by https://github.com/BuildmLearn/BuildmLearn-Toolkit-Android/pull/402 , we can extend the colour change to generated APKs also...We will be having these colours accordingly:

    <color name="colorPrimary">#</color>
    <color name="colorPrimaryDark">#</color>
    <color name="colorAccent">#</color>
    <color name="white_primary_text">#</color>
    <color name="white_secondary_text">#</

[2017-03-15 07:55] akmittal006 commented on #396
@opticod I was thinking of displaying that when the saved projects list is empty.
Also there is some commented out code in home fragment(xml file), since home fragment is useless what to do with that code

[2017-03-15 08:00] croozeus commented on #396
The icon metaphors are not convincing i.e. a first time user looking at the app will not figure out which tab is for what. Besides, I for one like the first time user to see the welcome message rather than the 3 tabs with empty content. Let's stick to the old approach.

[2017-03-15 08:00] #396 closed

[2017-03-15 08:01] croozeus commented on #442
Thanks for initiating this @opticod

[2017-04-02 13:35] opticod commented on #416
Closed via #417

[2017-04-02 13:35] #416 closed, assigned to nobody

[2017-04-02 14:14] opticod commented on #247
Closed via #420

[2017-04-02 14:14] #247 closed

[2017-04-02 14:14] opticod commented on #418
Closed via #420

[2017-04-02 14:14] #418 closed, assigned to nobody

[2017-04-06 12:04] tejavojjala commented on #410
@opticod
Is this the error which you were getting when you tried? If not can you help me with this when you are free.

app:connectedDebugAndroidTesteException: Waited for the root of the view hierarchy to have window focus and not be requesting layout for over 10 seconds. If you specified a non default root matcher, it may be picking a root that never takes focus. Otherwise, something is seriously

[2017-05-09 07:15] codingblazer opened #444 "Inconsistencies in color"
Some recent changes in color scheme has brought inconsistencies in project. For example - Below, 1. The "Template Name" and "Author" texts above editText are not visible
2. Templete have different colors - Grey, Blue, Red, Pink (Fab) which violates material design.

<img src="https://cloud.githubusercontent.com/assets/13872065/25839441/4a89ce80-34b5-11e7-985a-c0dc44f4fed2.png" height="400" width="

[2017-09-04 11:30] opticod commented on #342
Fixed via https://github.com/BuildmLearn/Toolkit-mobile-templates/pull/43 & #343

[2017-09-04 11:30] #342 closed

[2017-09-10 16:37] opticod opened #447 "Change of toolbar colour on selecting and unselecting items in templates"
In older versions, there were uniform variation of blue shades throughout the app. On selecting any item it changes the toolbar header colour to deep blue. Eg. :
![image](https://user-images.githubusercontent.com/13851773/30250865-91af7bfa-9673-11e7-91d0-cc8114fced9e.png)

Currently, our app has different colour combinations for different templates. But on selecting any item by long-pressing still

[2017-09-10 16:46] opticod commented on #364
Closed via #423

[2017-09-10 16:46] #364 closed

[2017-09-10 16:47] opticod opened #448 "Selecting and unselecting meta-items"
In continuation with #364, It will be good to add the one click de-select option, even for the meta details part in comprehension and match-the following templates.

[2017-09-19 03:13] diffdroid opened #449 "Cross-Platform Inconsistencies"
Dear Developers,

 We have developed a technique able to find cross-platform inconsistencies (CPIs) in the UI of mobile apps. The technique combines input generation and differential testing to compare the behavior of an app on different platforms and identify possible inconsistencies. To evaluate our technique we used the app you developed and compared executions from more than 130 real devices p

[2017-09-29 02:16] opticod commented on #437
And what if in future we add a new template which starts with "C". These cases need to be taken care also. How are you going to handle those ?

[2017-09-29 02:19] opticod commented on #429
Can it be made auto adjustable ?

[2017-09-29 02:22] opticod commented on #410
@tejavojjala Sorry, I just missed this.

Yes, I got similar error messages. Did you able to solve it for Travis-CI too?

[2017-09-29 02:27] opticod commented on #376
Cool, you can proceed

[2017-09-30 14:11] arihant-001 commented on #447
can I do this?

[2017-09-30 15:18] opticod commented on #447
@ArihantJain456 , yes you can proceed.

[2017-12-02 07:49] dr0pdb commented on #370
@opticod @croozeus  Is this issue still up for grabs ?

[2017-12-05 17:37] opticod commented on #370
I found out that Gmail uses swipe to archive any mail, but currently I am not sure whether it will be a good to use it for deleting any item.

@srv-twry Lets wait for the view from @croozeus

[2017-12-07 16:37] dr0pdb commented on #448
@opticod I would like to work on it if it's open

[2017-12-08 11:57] opticod commented on #448
@srv-twry, Yes you can proceed.

[2018-01-02 16:40] tanvidadu commented on #430
Has PR been sent for it ? I will like to work on it.

[2018-01-03 07:11] opticod commented on #430
@tanvidadu, you can work on it, update all to latest versions and make sure Travis doesn't breaks.

[2018-01-04 13:12] tanvidadu commented on #430
I was sent a PR for the above issue and upgraded it to 3.0.1. There are some license issues in Travis.
You have not accepted the license agreements of the following SDK components:
  [Android SDK Build-Tools 26.0.2].

[2018-01-04 14:36] opticod commented on #430
Ok, I will fix that issue of travis. Please direct your PRs to 'bug-fixes' branch.

[2018-01-04 18:56] tanvidadu opened #451 "Hide Keyboard on clicking outside the EditText"
The user experience will be improved if keypad is closed/hidden each time the user clicks outside the EditText .

Would I like to work on it ?
Yes

[2018-01-17 16:58] tanvidadu commented on #422
Is someone currently working on the issue. I will like to work on this issue @opticod .

[2018-01-17 18:03] tanvidadu commented on #377
@opticod @croozeus  I will like to send the PR for this issue.

[2018-04-10 16:53] Rimjhim28 opened #452 "Resize the screenshots in the documentation"
The sizes of sceenshot in documentation can be fixed such that all the screenshots have same widths and heights.

I would like to work on this issue.
@opticod @croozeus Can I proceed?

[2018-04-10 17:07] opticod commented on #452
yes you can proceed. Recently due to some github changes, images are not side by side, please also place the images side by side.

[2018-04-11 17:09] Rimjhim28 commented on #452
Sure @opticod! Will send a PR shortly.

[2018-04-11 17:46] Rimjhim28 opened #454 "Replace with gifs"
There are certain statis images in the documentation that can be replaced with .gif images to give a better description.

@opticod Can I work on this issue?

[2018-04-11 18:38] Rimjhim28 opened #455 "Upgrade to Android Studio 3.1"
Currently, the version numbers for dependencies in gradle files are quite obselete.
With the latest stable release of Android studio, the project can be upgraded to Android Studio 3.1
This would require changes in gradle files.

@croozeus @opticod Can I proceed?

[2018-04-13 16:27] opticod commented on #452
Closed via #453

[2018-04-13 16:27] #452 closed, assigned to nobody

[2018-12-05 08:07] abhishekd08 commented on #448
Is this project still active ? ... If it is, I would like to contribute. Can you suggest me any issues to work on ?

[2022-03-29 05:28] #245 closed

[2022-03-29 05:29] #286 closed

[2022-03-29 05:29] #329 closed

[2022-03-29 05:29] #355 closed

[2022-03-29 05:29] #377 closed

[2022-03-29 05:30] #425 closed, assigned to nobody